<script>
{% autoescape 'js' %}
    function addTag(tag) {
        var tags = document.getElementById('currentProductTags');
        if ('' != tags.value) {
            tags.value += ', ';
        }
        tags.value += tag;
    }
{% endautoescape %}
</script>

<form action="{{ admin.catalog }}" method="POST">
    <input type="hidden" name="catalogRequestId" value="product_tags_tab">
    <fieldset>
        <legend>{{ 'Manage Product Tags'|trans }}</legend>
        <p>
            <label for="currentProductTags">{{ 'Current Tags'|trans }}</label>
            <textarea id="currentProductTags" name="currentProductTags">{{ currentProductTags|join(', ') }}</textarea>
        </p>
        <p>
            <h3>{{ 'All Tags'|trans }}</h3>
            <div>
                {% for tag in allATags %}
                    <a href="#" onclick="addTag('{{ tag|e('js') }}'); return false;">{{ tag }}</a>
                {% endfor %}
            </div>
        </p>
    </fieldset>
    <p><input type="submit" value="{{ 'Update'|trans }}"></p>
</form>
