<?php $view->extend('AdminBundle::default_layout.html.php'); ?>
<?php $admin->title() ?>

<script>
$(function() {
    $('.datepicker').datepicker();
});
</script>

<h2>{{ 'Export orders'|trans }}</h2>
<div>
  <form class="export-orders-form" action="{{ path('export_orders') }}" method="GET">
    <p>
      <label for="dateFrom">{{ 'From:'|trans }}</label>
      <input class="datepicker" id="fromDate" name="fromDate" date:dateFormat="<?php echo $dateFormat ?>" type="text" value="<?php echo $fromDate ?>">
    </p>
    <p>
    <label for="dateTo">{{ 'To:'|trans }}</label>
      <input class="datepicker" id="toDate" name="toDate" date:dateFormat="<?php echo $dateFormat ?>" type="text" value="<?php echo $toDate ?>">
    </p>
    <p>
      <label for="exportFormat">{{ 'Format:'|trans }}</label>
      <select id="exportFormat" name="exportFormat">
        <option value="display">{{ 'Display'|trans }}</option>
        <option value="csv">{{ 'CSV'|trans }}</option>
      </select>
    </p>
    <p><input type="submit" class="<?php echo $buttonClasses ?>" value="Find Orders"></p>
  </form>
</div>

<?php if (isset($header) && isset($rows)) { ?>
  <table class="grid">
    <tr>
      <?php foreach ($header as $column) { ?>
        <th><?php echo $column ?></th>
      <?php } ?>
    </tr>
    <?php foreach ($rows as $orderRows) { ?>
      <?php foreach ($orderRows as $row) { ?>
        <tr>
          <?php foreach ($row as $column) { ?>
            <td><?php echo $column ?></td>
          <?php } ?>
        </tr>
      <?php } ?>
    <?php } ?>
  </table>
<?php } ?>
