<tr class="{{ loop.index0 is odd ? 'odd' : 'even' }} {{ loop.first ? 'first' : 'other' }}">
    <td>
        <a href="{{ net.product(product.id, app.request.get('categoryId')) }}" id="product_{{ product.id }}" class="product">
            {{ html.image(product.imageInfo, constant('ZenMagick\\StoreBundle\\Services\\Products::IMAGE_SMALL'))|raw }}
        </a>
    </td>
    <td class="pinfo">
        <a href="{{ net.product(product.id) }}">
            {{ product.name }}
        </a>
        <br />
        {{ html.more(product.description, 120)|raw }}
    </td>
    <td class="pprice">{{ utils.formatMoney(product.price) }}</td>
</tr>
