{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Login'))); ?>

<div id="msgbox" style="height:1.8em;border:1px solid gray;margin:5px 0 12px;padding:3px;color:red"></div>

<script>
    var msgboxElem = document.getElementById('msgbox');

    function ajax_login(id) {
        var queryString = $('#'+id).formSerialize();

        msgboxElem.innerHTML = "Logging in... ";

        $.ajax({
            type: "POST",
            url: "{{ path('login') }}",
            data: queryString,
            success: function(msg) {
                var info =JSON.parse(msg);
                msgboxElem.innerHTML += "got response ... ";
                msgboxElem.innerHTML += ('success' == info) ? 'success' : 'failed';
                msgboxElem.innerHTML += " - done!";
            },
            error: function(msg) {
                msgboxElem.innerHTML += "failed!";
            }
        });
    }
</script>

{{ form.open('login', '', true, {'id' : 'login', 'method' : 'post', 'onsubmit' : 'return zmFormValidation.validate(this);'})|raw }}
  <fieldset>
    <legend>{{ 'Login'|trans }}</legend>
    <div>
      <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
      <input type="text" id="email_address" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
      <?php echo $html->fieldMessages('email_address') ?>
    </div>
    <div>
      <label for="password">{{ 'Password'|trans }}</label>
      <input type="password" id="password" name="password" <?php echo $form->fieldLength('customers', 'customers_password') ?> />
      <?php echo $html->fieldMessages('password') ?>
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
  <div class="btn"><a href="#" onclick="ajax_login('login'); return false;"><?php echo _zm("Login via Ajax") ?></a></div>
</form>

<p>
  <a href="{{ path('password_forgotten') }}">{{ 'Lost your password?'|trans }}</a><br />
  <a href="{{ path('create_account') }}">{{ 'Not registered yet?'|trans }}</a>
</p>

<?php if ($view['settings']->get('isGuestCheckout') && !$view->container->get('shoppingCart')->isEmpty()) { ?>
  <h3>{{ 'Don\'t need an account?'|trans }}</h3>
  {{ form.open('checkout_guest', '', true, {'id' : 'checkout_guest', 'method' : 'post', 'onsubmit' : 'return zmFormValidation.validate(this);'})|raw }}
    <fieldset>
      <legend>{{ 'Checkout without registering'|trans }}</legend>
      <div>
        <label for="email_address_guest">{{ 'E-Mail Address'|trans }}</label>
        <input type="text" id="email_address_guest" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
        <?php echo $html->fieldMessages('email_address') ?>
        <input type="submit" class="btn" value="{{ 'Checkout'|trans }}" />
      </div>
    </fieldset>
  </form>
<?php } ?>
{% endblock %}
