{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
    {# scriptaculous had a ?load=effects parameter, but all of this will be replaced by something else#}
    {#
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
            '@StorefrontBundle/Resources/public/js/lightbox/prototype.js'
            '@StorefrontBundle/Resources/public/js/lightbox/scriptaculous.js'
            '@StorefrontBundle/Resources/public/js/lightbox/lightbox.js'
            filter='?jsminplus'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    #}
    <?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addProduct($currentProduct->getId())); ?>

    {% set manufacturer = currentProduct.manufacturer %}
    <h2>{{ manufacturer ? manufacturer.name }} {{ currentProduct.name }}</h2>

    {{ form.addProduct(currentProduct.id)|raw }}
        {% set imageInfo = currentProduct.imageInfo %}
        <div>
            {% if imageInfo.hasLargeImage %}
                <a href="{{ imageInfo.largeImage }}" rel="lightbox" title="{{ currentProduct.name }}">
                    {{ html.image(imageInfo, constant('ZenMagick\\StoreBundle\\Services\\Products::IMAGE_MEDIUM'))|raw }}
                </a>
            {% else %}
                {{ html.image(imageInfo, constant('ZenMagick\\StoreBundle\\Services\\Products::IMAGE_MEDIUM'))|raw }}
            {% endif %}
            <div id="desc">
                {{ currentProduct.description|raw }}
            </div>
            {% if manufacturer is not empty %}
                {{ 'Producer'|trans }}: {{ manufacturer.name }}
                <br />
            {% endif %}
            <p id="price">
                {{ currentProduct.model }}: {{ macro.productPrice(currentProduct)|raw }}
            </p>
        </div>

        {% for details in macro.productAttributes(currentProduct) %}
            <fieldset>
                <legend>{{ details['name'] }}</legend>
                {% for option in details['html'] %}
                    <p>{{ option|raw }}</p>
                {% endfor %}
            </fieldset>
        {% endfor %}

        <fieldset>
            <legend>{{ 'Shopping Options'|trans }}</legend>
            <label for="cart_quantity">{{ 'Quantity'|trans }}
                {% if 1 < currentProduct.minOrderQty %}
                    {{ '(Order minimum: %quantity%'|trans({'%quantity%' : currentProduct.minOrderQty}) }}
                {% endif %}
            </label>
            <input type="text" id="cart_quantity" name="cart_quantity" value="1" maxlength="6" size="4" />
            <input type="submit" class="btn" value="{{ 'Add to cart'|trans }}" />
        </fieldset>

        {% set addImgList = currentProduct.additionalImages %}
        {% if addImgList is not empty %}
            <fieldset>
                <legend>{{ 'Additional Images'|trans }}</legend>
                {% for addImg in addImgList %}
                    {% if addImg.hasLargeImage %}
                        <a href="{{ addImg.largeImage }}" onclick="productPopup(event, this); return false;">
                            <img src="{{ addImg.defaultImage }}" />
                        </a>
                    {% else %}
                        <img src="{{ addImg.defaultImage }}" />
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endif %}
        {% if currentProduct.hasReviews or currentProduct.typeSetting('reviews') %}
            <fieldset>
                <legend>{{ 'Other Options'|trans }}</legend>
                {% if currentProduct.hasReviews %}
                    <a class="btn" href="{{ path('product_reviews', {'productId' : currentProduct.id}) }}">
                        {{ 'Read Reviews'|trans }}
                    </a>
                {% endif %}
                {% if currentProduct.typeSetting('reviews') %}
                    <a class="btn" href="{{ path('product_reviews_write', {'productId' : currentProduct.id}) }}">
                        {{ 'Write a Review'|trans }}
                    </a>
                {% endif %}
            </fieldset>
        {% endif %}
    </form>

    {% set similiarOrderProducts = currentProduct.productAssociations('similiarOrder') %}
    {% if 0 < similiarOrderProducts|length %}
        <h3>
            {{ 'People that bought <em>"%this_product%"</em> also bought:'|trans({'%this_product%' : currentProduct.name})|raw }}
        </h3>
        <div id="similar">
            {% for assoc in similiarOrderProducts %}
                {% set assocProduct = product_manager.productForId(assoc.productId, app.session.get('languages_id')) %}
                <div>
                    <p>{{ html.productImageLink(assocProduct)|raw }}</p>

                    <p>
                        <a href="{{ net.product(assocProduct.id) }}">
                            {{ assocProduct.name }}
                        </a>
                    </p>
                    <p>{{ utils.formatMoney(assocProduct.offers.calculatedPrice) }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
