<?php use ZenMagick\Base\Toolbox; ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title>{{ '%store_name% Order Confirmation'|trans({'%store_name%': $view['settings']->get('storeName')}) }}</title>
</head>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p>{{ 'Thanks for shopping at %store_name%.'|trans({'%store_name%' : $view['settings']->get('storeName')}) }}</p>
<p>{{ 'The following is a summary of your order.'|trans }}</p>

<h3>{{ 'Order Details'|trans }}</h3>
<p>
    {{ 'Order Number: #%id%'|trans({'%id%' : order.id}) }}<br>
    {{ 'Order Date: %date%'|trans({'%date%' : order.orderDate|localizeddate('short', 'none')}) }}
</p>

<h4>{{ 'Ordered Items'|trans }}</h4>
<table cellpadding="3" cellspacing="2">
<?php foreach ($order->getOrderItems() as $orderItem) { ?>
<tr>
<td><?php echo $orderItem->getQuantity() ?> x </td>
<td><?php echo $view->escape($orderItem->getName()) ?></td>
<td>{{ utils.formatMoney(orderItem.calculatedPrice) }}</td>
</tr>
<?php } ?>
<?php foreach ($order->getOrderTotalLines() as $orderTotalLine) { ?>
<tr>
<td colspan="2"><?php echo $view->escape($orderTotalLine->getName()) ?></td>
<td><?php echo $orderTotalLine->getValue() ?></td>
</tr>
<?php } ?>
</table>

<h3>{{ 'Address Details'|trans }}</h3>
<table cellpadding="3" cellspacing="2">
<tr>
<td valign="top">
<h4>{{ 'Shipping Address'|trans }}</h4>
<?php if ($order->isStorePickup() || !$order->hasShippingAddress()) { ?>
{{ 'N/A'|trans }}
<?php } else { ?>
{{ macro.formatAddress(shippingAddress)|raw }}
<?php } ?>
</td>
<td valign="top">
<h4>{{ 'Billing Address'|trans }}</h4>
{{ macro.formatAddress(billingAddress)|raw }}
</td>
</tr>
</table>

<h3>{{ 'Payment Details'|trans }}</h3>
<?php if (null != ($paymentType = $order->getPaymentType())) { ?>
<p><?php echo $paymentType->getName() ?></p>
<?php if (!Toolbox::isEmpty($paymentType->getInfo())) { ?>
<p><?php echo nl2br($paymentType->getInfo()) ?></p>
<?php } ?>
<?php } ?>

    {{ utils.staticPageContent('email_advisory')|raw }}
</div>
</body>
</html>
