<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ language.code }}">
<head>
    <title>{{ '%store_name% Order Confirmation'|trans({'%store_name%': settings.get('storeName')}) }}</title>
</head>
<body>
    <div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
        <p>{{ 'Thanks for shopping at %store_name%.'|trans({'%store_name%' : settings.get('storeName')}) }}</p>
        <p>{{ 'The following is a summary of your order.'|trans }}</p>

        <h3>{{ 'Order Details'|trans }}</h3>
        <p>
            {{ 'Order Number: #%id%'|trans({'%id%' : order.id}) }}<br>
            {{ 'Order Date: %date%'|trans({'%date%' : order.orderDate|localizeddate('short', 'none')}) }}
        </p>

        <h4>{{ 'Ordered Items'|trans }}</h4>
        <table cellpadding="3" cellspacing="2">
            {% for orderItem in order.orderItems %}
                <tr>
                    <td>{{ orderItem.quantity }} x </td>
                    <td>{{ orderItem.name }}</td>
                    <td>{{ utils.formatMoney(orderItem.calculatedPrice) }}</td>
                </tr>
            {% endfor %}
            {% for orderTotalLine in order.orderTotalLines %}
                <tr>
                    <td colspan="2">{{ orderTotalLine.name }}</td>
                    <td>{{ orderTotalLine.value }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{{ 'Address Details'|trans }}</h3>
        <table cellpadding="3" cellspacing="2">
            <tr>
                <td valign="top">
                    <h4>{{ 'Shipping Address'|trans }}</h4>
                    {% if order.storePickup or not order.hasShippingAddress %}
                        {{ 'N/A'|trans }}
                    {% else %}
                        {{ macro.formatAddress(shippingAddress)|raw }}
                    {% endif %}
                </td>
                <td valign="top">
                    <h4>{{ 'Billing Address'|trans }}</h4>
                    {{ macro.formatAddress(billingAddress)|raw }}
                </td>
            </tr>
        </table>

        <h3>{{ 'Payment Details'|trans }}</h3>
        {% set paymentType = order.paymentType %}
        {% if null != paymentType %}
            <p>{{ paymentType.name }}</p>
            {% if paymentType.info is not empty %}
                <p>{{ paymentType.info|nl2br }}</p>
            {% endif %}
        {% endif %}

        {{ utils.staticPageContent('email_advisory')|raw }}
    </div>
</body>
</html>
