<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ language.code }}">
<head>
    <title>{{ 'Store Enquiry %store_name%'|trans({'%store_name%' : settings.get('storeName')}) }}</title>
</head>
<body>
    <div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
        <p>{{ 'Store Enquiry %store_name%'|trans({'%store_name%' : settings.get('storeName')}) }}</p>

        <p>{{ 'From: %name%'|trans({'%name%': contactInfo.name}) }}</p>
        <p>{{ 'Email: %email%'|trans({'%email%' : contactInfo.email}) }}</p>

        <hr />
        <div>{{ html.text2html(contactInfo.message)|raw }}</div>
        <hr />

        {% if isSupressDisclamer is not defined %}
            {{ utils.staticPageContent('email_advisory')|raw }}
        {% endif %}

        {{ office_only_html|raw }}
    </div>
</body>
</html>
