<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title>{{ 'A coupon from %store_name%'|trans({'%store_name%' : settings.get('storeName')}) }}</title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p>{{ 'Dear %first_name% %last_name%,'|trans({ '%first_name%' : currentAccount.firstName, '%last_name%' : currentAccount.lastName}) }}</p>

<p>{{ 'We\'re pleased to offer you a Store Coupon for our online store at %store_name%'|trans({'%store_name%' : settings.get('storeName')}) }}</p>
<p>{{ 'You can redeem this coupon during checkout. Just enter the code provided, and click on the redeem button.'|trans }}</p>

<p>{{ 'The coupon code is <strong>%code%</strong>.'|trans({'%code%' : currentCoupon.code})|raw }}</p>

<p>{{ 'The coupon is valid between %start_date% and %end_date%'|trans({'%start_date%' : currentCoupon.startDate|localizeddate('short', 'none'), '%end_date%' : currentCoupon.expiryDate|localizeddate('short', 'none')}) }}</p>

<p>{{ 'Don\'t lose the coupon code, make sure to keep the code safe so you can benefit from this special offer.'|trans }}</p>

<p>{{ 'Thank you for shopping with us!'|trans }}</p>
<p>{{ 'Sincerely, %store_owner%'|trans({'%store_owner%' : settings.get('storeOwner')}) }}</p>

<?php if (!isset($isSupressDisclaimer)) { ?>
    {{ utils.staticPageContent('email_advisory')|raw }}
<?php } ?>
<?php echo $office_only_html; ?>
</div>
</body>
</html>
