<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title>{{ 'Order update #%id%'|trans({'%id%' : currentOrder.id}) }}</title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p>{{ 'Dear %first_name% %last_name%,'|trans({ '%first_name%' : currentAccount.firstName, '%last_name%' : currentAccount.lastName}) }}</p>

<p>{{ 'This is to inform you that your order #%id% has been updated.'|trans('%id%': currentOrder.id}) }}</p>
<?php if (ZenMagick\StoreBundle\Entity\Account::REGISTERED == $currentAccount->getType()) {
    $href = url('account_history_info', {'order_id' : currentOrder.id})
} else {
    $href = url('guest_history')
} ?>
<p>{{ 'More details can be found at the following URL: <a href="%guest_url%">Order #%id%</a>'|trans({'%guest_url%' : href, '%id%' : currentOrder.id})|raw }}</p>

<?php if ($newOrderStatus != $currentOrder->getStatusName()) { ?>
    {{ 'The new order status is: %status%.'|trans({'%status%' : newOrderStatus}) }}
<?php } ?>

<?php if (!empty($comment)) { ?>
<p>{{ 'The following comment has been added to your order:'|trans }}</p>
<p><?php echo $html->text2html($comment) ?></p>
<?php } ?>

<p>{{ 'Regards, %store_name%'|trans({'%store_name%' : $view['settings']->get('storeName')}) }}</p>

{{ utils.staticPageContent('email_advisory')|raw }}
</div>
</body>
</html>
