<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="{{ language.code }}">
<head>
    <title>{{ 'Order update #%id%'|trans({'%id%' : currentOrder.id}) }}</title>
</head>
<body>
    <div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
    <p>{{ 'Dear %first_name% %last_name%,'|trans({ '%first_name%' : currentAccount.firstName, '%last_name%' : currentAccount.lastName}) }}</p>

    <p>{{ 'This is to inform you that your order #%id% has been updated.'|trans({'%id%': currentOrder.id}) }}</p>
    {% if constant('ZenMagick\\StoreBundle\\Entity\\Account::REGISTERED') == currentAccount.type %}
        {% set href = url('account_history_info', {'order_id' : currentOrder.id}) %}
    {% else %}
        {% set href = url('guest_history') %}
    {% endif %}
    <p>{{ 'More details can be found at the following URL: <a href="%history_url%">Order #%id%</a>'|trans({'%history_url%' : href, '%id%' : currentOrder.id})|raw }}</p>

    {% if newOrderStatus != currentOrder.statusName %}
        {{ 'The new order status is: %status%.'|trans({'%status%' : newOrderStatus}) }}
    {% endif %}

    {% if comment is not empty %}
        <p>{{ 'The following comment has been added to your order:'|trans }}</p>
        <p>{{ comment|nl2br }}</p>
    {% endif %}

    <p>{{ 'Regards, %store_name%'|trans({'%store_name%' : settings.get('storeName')}) }}</p>

    {{ utils.staticPageContent('email_advisory')|raw }}
    </div>
</body>
</html>
