<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<?php echo $language->getCode() ?>">
<head>
<title>{{ 'Product recommendation from %email_from% at %store_name%'|trans({'%email_from%': emailMessage.fromName, '%store_name%' : $view['settings']->get('storeName')}) }}</title>
</head>
<body>
<body>
<div style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10pt;">
<p>{{ 'Hi %to_name%,'|trans({'%to_name%' : emailMessage.toName}) }}</p>

<p>{{ 'Your friend, %from_name%, thought that you would be interested in %product% from %store_name%.'|trans({'%from_name%' : emailMessage.fromName, '%product%' : currentProduct.name, '%store_name%' : $view['settings']->get('storeName')}) }}</p>

<?php if ($emailMessage->hasMessage()) { ?>
<p>
{{ '%from_name% also sent a note saying:'|trans({'%from_name%' : emailMessage.fromName}) }}
<br>
<?php echo $html->text2html($emailMessage->getMessage()) ?>
</p>
<?php } ?>

<?php $href = $net->product($currentProduct->getId(), null); ?>
<p>{{ 'To view the product, click on the following link or copy and paste the link into your web browser: <a href="%product_url%">%product%</a>'|trans({'%product_url%: href, '%product%' : currentProduct.name}) }}</p>

<p>{{ 'Regards, %store_name%'|trans({'%store_name%' : $view['settings']->get('storeName')}) }}</p>

{{ utils.staticPageContent('email_advisory')|raw }}
</div>
</body>
</html>
