<?php if (1 < $resultList->getNumberOfPages()) { ?>
    <div class="rnav">
        <span class="pno">{{ 'Page %page%/%total%'|trans({'%page%' : resultList.pageNumber, '%total%' : resultList.numberOfPages}) }}</span>
        <?php if ($resultList->hasPreviousPage()) { ?>
            <a href="<?php echo $net->resultListBack($resultList) ?>">{{ 'Previous'|trans }}</a>&nbsp;
        <?php } else { ?>
            <span class="nin">{{ 'Previous'|trans }}</span>&nbsp;
        <?php } ?>
        <?php if ($resultList->hasNextPage()) { ?>
            <a href="<?php echo $net->resultListNext($resultList) ?>">{{ 'Next'|trans }}</a>
        <?php } else { ?>
            <span class="nin">{{ 'Next'|trans }}</span>
        <?php } ?>
    </div>
<?php } ?>
