{% if resultList.hasFilters or resultList.hasSorters %}
    {% set hasOptions = false %}
    {{ form.open(app.request.requestId, null, false, {'method' : 'get', 'class' : 'ropt', 'onsubmit' : null})|raw }}
        {% if resultList.hasFilters %}
            <div class="rlf">
                {% for filter in resultList.filters if filter.available %}
                    {% set hasOptions = true %}
                    {# if multi select do not auto submit  #}
                    {% set opts = filter.multiSelection ? ' size="3" multiple="multiple"' : ' onchange="this.form.submit()"' %}
                    <select id="{{ filter.id|str_replace('[]', '') }}" name="{{ filter.id }}" {{ opts|raw }}>
                        <option value="">{{ 'Filter by "%filter%" ...'|trans({'%filter%' : filter.name}) }}</option>
                        {% for option in filter.options %}
                            <option value="{{ option.id }}" {{ option.active ? 'selected="selected"'|raw }}>
                                {{ option.name }}
                            </option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div>
        {% endif %}
        {% if resultList.hasSorters %}
            {% set hasOptions = true %}
            <div class="rls">
                {% set cPath = app.request.query.get('cPath') %}
                {% set keywords = app.request.query.get('keywords') %}
                {% set manufacturers_id = app.request.query.get('manufacturers_id') %}
                {% if keywords %}
                    <input type="hidden" name="keywords" value="{{ keywords }}" />
                {% endif %}
                <input type="hidden" name="page" value="{{ resultList.pageNumber }}" />
                {% if cPath %}
                    <input type="hidden" name="cPath" value="{{ cPath }}" />
                {% elseif manufacturers_id %}
                    <input type="hidden" name="manufacturers_id" value="{{ manufacturers_id }}" />
                {% endif %}

                <select id="sort" name="sort_id" onchange="this.form.submit()">
                    <option value="">{{ 'Sort by ...'|trans }}</option>
                    {% for sorter in resultList.sorters %}
                        {% for option in sorter.options %}
                            {% set id = option.active ? option.reverseId : option.id %}
                            <option value="{{ id }}" {{ option.active ? 'selected="selected"'|raw }}>
                                {{ option.name }}
                                {% if option.active %}
                                    {{ option.descending ? ' (-)' : ' (+)' }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div>
            {% if hasOptions %}
                <input type="submit" class="btn" value="{{ 'Sort / Reverse / Filter'|trans }}" />
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </form>
{% endif %}
