<tr class="{{ loop.odd ? 'odd': 'even' }} {{ loop.first ? 'first' : 'other' }}">
    <td>
        <a href="{{ path('account_history_info', {'order_id' : order.id}) }}">
            {{'Order #%id%'|trans({'%id%' : order.id}) }}
        </a>
    </td>
    <td>{{ order.orderDate|localizeddate('short', 'none') }}</td>
    <td><{{ order.billingAddress.fullName }}</td>
    <td>{{ order.statusName }}</td>
    <td class="pprice">{{ utils.formatMoney(order.total) }}</td>
</tr>
