<?php $product = $view->container->get('productService')->getProductForId($review->getProductId(), $view['request']->getLocaleId()); ?>
<tr class="<?php echo ($odd?"odd":"even").($first?" first":" other") ?>">
    <td>
        {{ html.productImageLink(product)|raw }}
        <h3>{{ product.name }}</h3>
        <?php $rtext = sprintf(_zm("%s of 5 stars!"), $review->getRating()); ?>
        <p><img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/stars_'.$review->getRating().'.gif') ?>" alt="<?php echo $rtext ?>" /></p>
        <h4 class="rtitle"><?php echo $html->strip($review->getTitle()) ?></h4>
        <p class="rtext"><?php echo $html->more($html->strip($review->getText()), 120) ?></p>
        <p class="rinfo">
            {{ 'Date added: %date_added% by %author%'|trans({'%date_added%' : review.dateAdded|localizeddate('short', 'none'), '%author%': review.author}) }}
        </p>
    </td>
    <td class="lnks">
        <p><a class="btn" href="<?php echo $net->product($product->getId()) ?>">{{ 'Product Information'|trans }}</a></p>
        <p>
            <a class="btn" href="{{ path('product_reviews_info', {'productId' : review.productId, 'reviews_id' : review.id}) }}">
                {{ 'Read full review'|trans }}
            </a>
        </p>
    </td>
</tr>
