{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Order History'), $view['router']->generate('account_history'))->addCrumb(sprintf(_zm('Order #%s'), $view['request']->getParameter('order_id')))); ?>
<h3>{{ 'Item Details'|trans }}</h3>
<table cellpadding="0" cellspacing="0">
    <tbody>
    <?php foreach ($currentOrder->getOrderItems() as $orderItem) { ?>
        <tr>
            <td class="qty"><?php echo $orderItem->getQuantity() ?> x </td>
            <td class="itm">
                {{ orderItem.name }}
                <?php if ($orderItem->hasAttributes()) { ?>
                    <br/>
                    <?php foreach ($orderItem->getAttributes() as $attribute) { ?>
                        <p><span class="attr">{{ attribute.name }}:</span>
                        <?php $first = true; foreach ($attribute->getValues() as $attributeValue) { ?>
                            <?php if (!$first) { ?>, <?php } ?>
                            <span class="atval">{{ attributeValue.name }}</span>
                        <?php $first = false; } ?>
                        </p>
                    <?php } ?>
                <?php } ?>
            </td>
            <td class="price">{{ utils.formatMoney(orderItem.calculatedPrice) }}</td>
        </tr>
    <?php } ?>
    <?php foreach ($currentOrder->getOrderTotalLines() as $orderTotalLine) { ?>
        <tr>
            <td colspan="2" class="total">{{ orderTotalLine.name }}</td>
            <td class="price"><?php echo $orderTotalLine->getValue() ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<h3>{{ 'Payment Details'|trans }}</h3>
<table cellpadding="0" cellspacing="0">
    <tbody><tr><td>
<?php if (null != ($paymentType = $currentOrder->getPaymentType())) { ?>
    <p><?php echo $paymentType->getName() ?></p>
    <?php if (!Toolbox::isEmpty($paymentType->getInfo())) { ?>
      <p><?php echo nl2br($paymentType->getInfo()) ?></p>
    <?php } ?>
<?php } else { ?>
    <p>{{ 'N/A'|trans }}</p>
<?php } ?>
    </td></tr></tbody>
</table>

<h3>{{ 'Order History'|trans }}</h3>
<table cellpadding="0" cellspacing="0">
    <tbody>
    <?php foreach ($currentOrder->getOrderStatusHistory($view['request']->getLocaleId()) as $orderStatus) { ?>
        <tr>
            <td><?php echo $view['date']->short($orderStatus->getDateAdded()) ?></td>
            <td>{{ orderStatus.name }}</td>
            <td class="cmt">{{ orderStatus.comment }}</td>
        </tr>
    <?php } ?>
    </tbody>
</table>

<?php if (null != ($downloads = $currentOrder->getDownloads()) && 0 < count($downloads)) { ?>
    <h3>{{ 'Downloads'|trans }}</h3>
    <p>{{ 'To download your files click the download button and choose "Save to Disk" from the popup menu.|trans }}</p>
    <table class="grid">
      <tr>
          <th>{{ 'Item'|trans }}</th>
          <th>{{ 'Filename'|trans }}</th>
          <th>{{ 'Size'|trans }}</th>
          <th>{{ 'Remaining'|trans }}</th>
          <th></th>
      </tr>
      <?php foreach ($downloads as $download) { $downloadProduct = $view->container->get('productService')->getProductForId($download->getProductId(), $view['request']->getLocaleId()); ?>
          <tr>
              <th>{{ downloadProduct.name }}</th>
              <th>{{ download.filename }}</th>
              <th>{{ download.fileSize }} bytes</th>
              <th>{{ download.downloadCount }}</th>
              <th>
                  <a href="{{ path('download', {'order' : currentOrder.id, 'id' => download.id}) }}">
                      {{ 'Download'|trans }}
                  </a>
              </th>
          </tr>
      <?php } ?>
    </table>
<?php } ?>

<h3>{{ 'Address Details'|trans }}</h3>
<div id="addr">
    <div id="daddr">
        <h4>{{ 'Shipping Address'|trans }}</h4>
        <?php if (!$currentOrder->hasShippingAddress()) { ?>
            {{ 'N/A'|trans }}
        <?php } else { ?>
            {{ macro.formatAddress(currentOrder.shippingAddress)|raw }}
        <?php } ?>
    </div>
    <div id="baddr">
        <h4>{{ 'Billing Address'|trans }}</h4>
        {{ macro.formatAddress(currentOrder.billingAddress)|raw }}
    </div>
</div>
{% endblock %}
