{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Change Password'))); ?>
<?php echo $form->open('account_password', '', true, array('id'=>'account_password')) ?>
    <fieldset>
        <legend>{{ 'Change Password'|trans }}</legend>
        <p>
            <label for="password_current">{{ 'Current Password'|trans }}</label>
            <input type="password" id="password_current" name="password_current" <?php echo $form->fieldLength('customers', 'customers_password') ?> />
        </p>
        <p>
            <label for="password_new">{{ 'New Password'|trans }}</label>
            <input type="password" id="password_new" name="password_new" <?php echo $form->fieldLength('customers', 'customers_password') ?> />
        </p>
        <p>
            <label for="password_confirmation">{{ 'Confirm Password'|trans }}</label>
            <input type="password" id="password_confirmation" name="password_confirmation" <?php echo $form->fieldLength('customers', 'customers_password') ?> />
        </p>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
</form>
{% endblock %}
