{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Advanced Search'))); ?>
{{ form.open('search', '', false, {'method' : 'get', 'id' : 'searchCriteria'})|raw }}
    <fieldset id="term">
        <legend>{{ 'Search For...'|trans }}</legend>
        <div id="help">
            <a href="javascript:popupWindow('{{ path('popup_search_help') }}')">{{ 'Search Help [?]'|trans }}</a></div>
        <div>
            <?php $onfocus = "if(this.value=='" . KEYWORD_DEFAULT . "') this.value='';" ?>
            <input type="text" id="askeyword" name="keywords" value="<?php echo $view->escape($searchCriteria->getKeywords(KEYWORD_DEFAULT)) ?>" onfocus="<?php echo $onfocus ?>" />
            <?php $checked = $searchCriteria->isIncludeDescription() ? 'checked="checked" ' : ''; ?>
            <input type="checkbox" id="includeDescription" name="includeDescription" value="1" <?php echo $checked?>/>
            <label class="checkboxLabel" for="includeDescription">{{ 'Search in product descriptions'|trans }}</label>
        </div>
    </fieldset>

    <fieldset id="asfilter">
        <legend>{{ 'Restrict Search By...")?></legend>
        <fieldset>
            <legend>{{ 'Category")?></legend>
            <?php $categories = $view->container->get('categoryService')->getCategories($view['request']->getLocaleId()); ?>
            <?php echo $form->idpSelect('categoryId', array_merge(array(new ZMIdNamePair("", _zm("All Categories"))), $categories), $searchCriteria->getCategoryId()) ?>
            <?php $checked = $searchCriteria->isIncludeSubcategories() ? 'checked="checked" ' : ''; ?>
            <input type="checkbox" id="includeSubcategories" name="includeSubcategories" value="1" <?php echo $checked?>/>
            <label for="includeSubcategories">{{ 'Include subcategories'|trans }}</label>
        </fieldset>

        <fieldset>
            <legend>{{ 'Manufacturer'|trans }}</legend>
            <?php $manufacturers = $view->container->get('manufacturerService')->getManufacturers($view['request']->getLocaleId()); ?>
            <?php echo $form->idpSelect('manufacturerId', array_merge(array(new ZMIdNamePair("", _zm("All Manufacturers"))), $manufacturers), $searchCriteria->getManufacturerId()) ?>
        </fieldset>

        <fieldset>
            <legend>{{ 'Price Range'|trans }}</legend>
            <input type="text" id="priceFrom" name="priceFrom" value="<?php echo $view->escape($searchCriteria->getPriceFrom()) ?>" />
            <input type="text" id="priceTo" name="priceTo" value="<?php echo $view->escape($searchCriteria->getPriceTo()) ?>" />
        </fieldset>

        <fieldset>
            <legend>{{ 'Date'|trans }}</legend>
            <?php $defaultDateValue = $view['date']->getFormat('date', 'short-ui-format'); ?>
            <?php $onfocus = "if(this.value=='" . $defaultDateValue . "') this.value='';" ?>
            <input type="text" id="dateFrom" name="dateFrom" value="<?php echo $view->escape($searchCriteria->getDateFrom($defaultDateValue)) ?>" onfocus="<?php echo $onfocus ?>" />
            <input type="text" id="dateTo" name="dateTo" value="<?php echo $view->escape($searchCriteria->getDateTo($defaultDateValue)) ?>" onfocus="<?php echo $onfocus ?>" />
        </fieldset>
    </fieldset>

    <div class="btn"><input type="submit" class="btn" value="{{ 'Search'|trans }}" /></div>
</form>
{% endblock %}
