<?php use ZenMagick\Base\Toolbox; ?>
{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Checkout'), $view['router']->generate('checkout'))->addCrumb(_zm('Summary'))); ?>
<fieldset>
    <legend>{{ 'Shopping Cart Contents'|trans }}</legend>
    <table cellpadding="0" cellspacing="0" id="cart">
        <tbody>
        <?php foreach ($shoppingCart->getItems() as $item) { ?>
            <tr>
                <td class="itm">
                    <?php echo $item->getQuantity() ?> x <?php echo $view->escape($item->getProduct()->getName()) ?>
                    <?php if ($item->hasAttributes()) { ?>
                        <br/>
                        <?php foreach ($item->getAttributes() as $attribute) { ?>
                            <p><span class="attr"><?php echo $view->escape($attribute->getName()) ?>:</span>
                            <?php $first = true; foreach ($attribute->getValues() as $attributeValue) { ?>
                                <?php if (!$first) { ?>, <?php } ?>
                                <span class="atval"><?php echo $view->escape($attributeValue->getName()) ?></span>
                            <?php $first = false; } ?>
                            </p>
                        <?php } ?>
                    <?php } ?>
                </td>
                <td class="price">
                    {{ utils.formatMoney(item.itemTotal) }}
                    <?php if (0 != ($oneTimeCharge = $item->getOneTimeCharge())) { ?>
                        <br>{{ 'One time: %amount%'|trans({'%amount%' : utils.formatMoney(oneTimeCharge)}) }}
                    <?php } ?>
                </td>
            </tr>
        <?php } ?>
          <?php
              $totals = $shoppingCart->getTotals();
              foreach ($totals as $total) {
                  $tot = '';
                  if ('total' == $total->getType()) {
                      $tot = ' tot';
                  }
                  ?><tr><td class="total"><?php echo $view->escape($total->getName()) ?></td><td class="price<?php echo $tot ?>"><?php echo $total->getValue() ?></td></tr><?php
              }
          ?>

        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>{{ 'Payment Method'|trans }}</legend>
    <div class="btn"><a class="btn" href="{{ path('checkout_payment') }}">{{ 'Change'|trans }}</a></div>
    <?php $paymentType = $shoppingCart->getSelectedPaymentType() ?>
    <?php if (null != $paymentType) { ?>
      <h4><?php echo $paymentType->getName() ?></h4>
      <?php if (!Toolbox::isEmpty($paymentType->getInfo())) { ?>
        <p><?php echo nl2br($paymentType->getInfo()) ?></p>
      <?php } ?>
    <?php } ?>
</fieldset>

<?php if (!$shoppingCart->isVirtual()) { ?>
    <fieldset>
        <legend>{{ 'Shipping'|trans }}</legend>
        <div class="btn"><a class="btn" href="{{ path('checkout_shipping') }}">{{ 'Change'|trans }}</a></div>
        <br/>
        <?php if (null != ($shippingMethod = $shoppingCart->getSelectedShippingMethod())) { ?>
          <?php echo $view->escape($shippingMethod->getProvider()->getName()) . ': ' . $view->escape($shippingMethod->getName()) ?><br/>
        <?php } ?>
    </fieldset>
<?php } ?>

<fieldset>
    <legend>{{ 'Address Information'|trans }}</legend>
    <?php if ($shoppingCart->hasShippingAddress()) { ?>
        <div class="oadr">
            <div class="btn"><a class="btn" href="{{ path('checkout_shipping_address') }}">{{ 'Change'|trans }}</a></div>
            <h4>{{ 'Shipping Address'|trans }}</h4>
            {{ macro.formatAddress(shoppingCart.shippingAddress)|raw }}
        </div>
    <?php } else { ?>
        <div class="oadr">
            <h4>{{ 'Shipping Address'|trans }}</h4>
            {{ 'N/A'|trans }}
        </div>
    <?php } ?>
    <div class="oadr snd">
        <div class="btn"><a class="btn" href="{{ path('checkout_payment_address') }}">{{ 'Change'|trans }}</a></div>
        <h4>{{ 'Billing Address'|trans }}</h4>
        {{ macro.formatAddress(shoppingCart.billingAddress)|raw }}
    </div>
</fieldset>

<fieldset>
    <legend>{{ 'Special instructions or comments'|trans }}</legend>
    <div class="btn"><a class="btn" href="{{ path('checkout_payment') }}">{{ 'Change'|trans }}</a></div>
    <div><?php echo $view->escape(!Toolbox::isEmpty($shoppingCart->getComments()) ? $shoppingCart->getComments() : "None") ?></div>
</fieldset>

{{ form.open(orderFormUrl, '', true)|raw }}
    <?php echo $orderFormContent ?>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Confirm to order'|trans }}" /></div>
</form>
{% endblock %}
