{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}

<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Checkout'), $view['router']->generate('checkout_payment'))->addCrumb(_zm('Payment Method'))); ?>
<fieldset>
    <legend>{{ 'Billing Address'|trans }}</legend>
    <div class="btn">
        <a class="btn" href="{{ path('checkout_payment_address') }}">{{ 'Change Billing Address'|trans }}</a>
    </div>
    {{ macro.formatAddress(shoppingCart.billingAddress)|raw }}
</fieldset>

<script type="text/javascript">var submitter = 0;</script>
<?php echo $shoppingCart->getPaymentFormValidationJS($app->getRequest()) ?>

{{ form.open('checkout_confirmation', '', true, {'id' : 'checkout_payment', 'onsubmit' : 'return check_form();'})|raw }}
  <?php if ($view['settings']->get('isConditionsMessage')) { ?>
      <fieldset>
          <legend>{{ 'Terms and Conditions'|trans }}</legend>
          <p>
              {{ 'Please acknowledge the terms and conditions bound to this order by ticking the following box.'|trans }}</br>
              <?php $href = $net->staticPage('conditions'); ?>
              {{ 'The terms and conditions can be read <a href="%conditions_url%">here</a>.'|trans({'%conditions_url%' : href})|raw }}</p>
          <p><input type="checkbox" id="conditions" name="conditions" value="1" /><label for="conditions">{{ 'I have read and agreed to the terms and conditions bound to this order.'|trans }}</label></p>
      </fieldset>
  <?php } ?>
  <fieldset>
      <legend>{{ 'Order Totals'|trans }}</legend>
      <table id="ot" cellspacing="0" cellpadding="0">
          <tbody>
          <?php
              $totals = $shoppingCart->getTotals();
              foreach ($totals as $total) {
                  $tot = '';
                  if ('total' == $total->getType()) {
                      $tot = ' tot';
                  }
                  ?><tr>
                      <td class="total"><?php echo $total->getName() ?></td>
                      <td class="price<?php echo $tot ?>"><?php echo $total->getValue() ?></td>
                  </tr><?php
              }
          ?>
          </tbody>
      </table>
  </fieldset>

  <?php $creditTypes = $shoppingCart->getCreditTypes(); ?>
  <?php if (0 < count($creditTypes)) { ?>
      <fieldset>
          <legend>{{ 'Credit Options'|trans }}</legend>
          <?php foreach ($creditTypes as $type) { ?>
              <p class="credittype"><?php echo $type->getName() ?></p>
              <div class="instr"><?php echo $type->getInstructions() ?></div>
              <table class="pt" cellpadding="0" cellspacing="0"><tbody>
                  <?php foreach ($type->getFields() as $field) { ?>
                     <tr><td><label><?php echo $field->getLabel() ?></label></td><td><?php echo $field->getHTML() ?></td></tr>
                  <?php } ?>
              </tbody></table>
          <?php } ?>
      </fieldset>
  <?php } ?>

  <fieldset id="paytypes">
      <legend>{{ 'Payment Options'|trans }}</legend>
  <?php
      $paymentTypes = $shoppingCart->getPaymentTypes();
      $single = 1 == count($paymentTypes);
      foreach ($paymentTypes as $type) {
        $sptid = 'pt_'.$type->getId();
        if ($single) {
          ?><p><input type="hidden" id="<?php echo $sptid ?>" name="payment" value="<?php echo $type->getId() ?>" /><?php
        } else {
          ?><p class="paytype" onclick="document.getElementById('<?php echo $sptid ?>').checked = true;"><input type="radio" id="<?php echo $sptid ?>" name="payment" value="<?php echo $type->getId() ?>"<?php $form->checked($shoppingCart->getSelectedPaymentTypeId(), $type->getId()) ?> /><?php
        }
        ?><label for="<?php echo $sptid ?>"><?php echo $type->getName() ?></label></p><?php
        $fields = $type->getFields();
        if (0 < count($fields)) {
            ?><table class="pt" cellpadding="0" cellspacing="0"><tbody><?php
            foreach ($fields as $field) {
              ?><tr><td><label><?php echo $field->getLabel() ?></label></td><td><?php echo $field->getHTML() ?></td></tr><?php
            }
            ?></tbody></table><?php
          }
      }
  ?>
  </fieldset>

  <fieldset>
      <legend>{{ 'Comments'|trans }}</legend>
      <p class="inst">{{ 'Special instructions or comments about your order.'|trans }}</p>
      <?php /* Fix for IE bug regarding textarea... */ ?>
      <table><tr><td><textarea name="comments" rows="3" cols="45">{{ shoppingCart.comments }}</textarea></td></tr></table>
  </fieldset>

  <div class="btn"><input type="submit" class="btn" value="{{ 'Continue'|trans }}" /></div>
</form>
{% endblock %}
