<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Order Confirmation'))); ?>
<?php echo $form->open('checkout_success', 'action=update', true, array('onsubmit'=>null)) ?>
    <h2>{{ 'Thanks for shopping with us'|trans }}</h2>
    <p>{{ 'Your order number is: <strong>%id%</strong>'|trans({'%id%' : currentOrder.id})|raw }}</p>
    <?php if ($view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <p>{{ 'You can view your full order history by going to the <a href="%account_url%">My Account</a> page and by clicking on view all orders.'|trans({'%account_url%' : path('account')})|raw }}</p>
    <?php } ?>
    <p>{{ 'Please direct any questions you have to <a href="%contact_url%">Customer Service</a>.'|trans({'%contact_url%': path('contact_us')})|raw }}</p>

    <?php if (!empty($productsToSubscribe)) { ?>
        <fieldset>
            <legend>{{ 'Product Notifications'|trans }}</legend>
            <h4>{{ 'Please notify me of updates to the products I have selected below:'|trans }}</h4>
            <?php foreach ($productsToSubscribe as $productId => $productName) { $id = "not_" . $productId; ?>
                <p>
                    <input type="checkbox" id="<?php echo $id ?>" name="notify[]" value="<?php echo $productId ?>" />
                    <label for="<?php echo $id ?>"><?php echo $view->escape($productName) ?></label><br />
                </p>
            <?php } ?>
            <div class="btn"><input type="submit" class="btn" value="{{ 'Update'|trans }}" /></div>
        </fieldset>
    <?php } ?>

    <?php if (null != ($downloads = $currentOrder->getDownloads()) && 0 < count($downloads)) { ?>
        <fieldset>
            <legend>{{ 'Downloads'|trans }}</legend>
            <p>{{ 'To download your files click the download button and choose "Save to Disk" from the popup menu.'|trans }}</p>
            <table class="grid">
              <tr>
                  <th>{{ 'Item'|trans }}</th>
                  <th>{{ 'Filename'|trans }}</th>
                  <th>{{ 'Size'|trans }}</th>
                  <th>{{ 'Remaining'|trans }}</th>
                  <th></th>
              </tr>
              <?php foreach ($downloads as $download) { $downloadProduct = $view->container->get('productService')->getProductForId($download->getProductId(), $view['request']->getLocaleId()); ?>
                  <tr>
                      <th><?php echo $view->escape($downloadProduct->getName()) ?></th>
                      <th><?php echo $view->escape($download->getFilename()) ?></th>
                      <th><?php echo $download->getFileSize() ?> bytes</th>
                      <th><?php echo $download->getDownloadCount() ?></th>
                      <th>
                          <a href="{{ path('download', {'order' : currentOrder.id, 'id' => download.id}) }}">
                              {{ 'Download'|trans }}
                          </a>
                      </th>
                  </tr>
              <?php } ?>
            </table>
        </fieldset>
    <?php } ?>

    <?php $voucherBalance = $app->getUser()->getVoucherBalance(); ?>
    <?php if (0 < $voucherBalance) { ?>
        <fieldset>
            <legend>{{ 'Gift Certificate Account'|trans }}</legend>
            <p>
                {{ 'You have funds (%amount%) in your Gift Certificate Account.'|trans({'%amount%' : utils.formatMoney(voucherBalance)}) }}
                <br />
                {{ 'If you want to, you can send those funds by <a href="%gv_send_url%">email</a> to someone.'|trans({'%gv_send_url%': path('gv_send')})|raw }}
            </p>
            <div class="btn"><a href="{{ path('gv_send') }}" class="btn">{{ 'Send Gift Certificate'|trans }}</a></div>
        </fieldset>
    <?php } ?>

    <?php if (!$view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <fieldset>
            <legend>{{ 'Order Status Check'|trans }}</legend>
            <p>
                {{ 'You can check the status of your order using the <a href="%guest_history_url%">order status check</a>.'|trans({'%guest_history_url%' : path('guest_history')})|raw }}
            </p>
        </fieldset>
    <?php } ?>
</form>
