{% extends '@Storefront/layout.html.twig' %}
{% block body %}
    <?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Order Confirmation'))); ?>
    {{ form.open('checkout_success', 'action=update', true, {'onsubmit' : null})|raw }}
        <h2>{{ 'Thanks for shopping with us'|trans }}</h2>
        <p>{{ 'Your order number is: <strong>%id%</strong>'|trans({'%id%' : currentOrder.id})|raw }}</p>
        {% if is_granted('ROLE_REGISTERED') %}
            <p>
                {{ 'You can view your full order history by going to the <a href="%account_url%">My Account</a> page and by clicking on view all orders.'|trans({'%account_url%' : path('account')})|raw }}
            </p>
        {% endif %}
        <p>
            {{ 'Please direct any questions you have to <a href="%contact_url%">Customer Service</a>.'|trans({'%contact_url%': path('contact_us')})|raw }}
        </p>

        {% if productsToSubscribe is not empty %}
            <fieldset>
                <legend>{{ 'Product Notifications'|trans }}</legend>
                <h4>{{ 'Please notify me of updates to the products I have selected below:'|trans }}</h4>
                {% for productId, productName in productsToSubscribe %}
                    <p>
                        <input type="checkbox" id="not_{{ productId }}" name="notify[]" value="{{ productId }}" />
                        <label for="not_{{ productId }}">{{ productName }}</label>
                        <br />
                    </p>
                {% endfor %}
                <div class="btn">
                    <input type="submit" class="btn" value="{{ 'Update'|trans }}" />
                </div>
            </fieldset>
        {% endif %}

        {% set downloads = currentOrder.downloads %}
        {% if null != downloads and 0 < downloads|length %}
            <fieldset>
                <legend>{{ 'Downloads'|trans }}</legend>
                <p>
                    {{ 'To download your files click the download button and choose "Save to Disk" from the popup menu.'|trans }}
                </p>
                <table class="grid">
                    <tr>
                        <th>{{ 'Item'|trans }}</th>
                        <th>{{ 'Filename'|trans }}</th>
                        <th>{{ 'Size'|trans }}</th>
                        <th>{{ 'Remaining'|trans }}</th>
                        <th></th>
                    </tr>
                    {% for download in downloads %}
                        {% set download_product = product_manager.productForId(download.productId, app.session.get('languages_id')) %}
                        <tr>
                            <th>{{ download_product.name }}</th>
                            <th>{{ download.filename }}</th>
                            <th>{{ download.fileSize }} bytes</th>
                            <th>{{ download.downloadCount }}</th>
                            <th>
                                <a href="{{ path('download', {'order' : currentOrder.id, 'id' : download.id}) }}">
                                    {{ 'Download'|trans }}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        {% endif %}

        {% set voucher_balance = app.user.voucherBalance %}
        {% if 0 < voucher_balance|length %}
            <fieldset>
                <legend>{{ 'Gift Certificate Account'|trans }}</legend>
                <p>
                    {{ 'You have funds (%amount%) in your Gift Certificate Account.'|trans({'%amount%' : utils.formatMoney(voucher_balance)}) }}
                    <br />
                    {{ 'If you want to, you can send those funds by <a href="%gv_send_url%">email</a> to someone.'|trans({'%gv_send_url%': path('gv_send')})|raw }}
                </p>
                <div class="btn">
                    <a href="{{ path('gv_send') }}" class="btn">
                        {{ 'Send Gift Certificate'|trans }}
                    </a>
                </div>
            </fieldset>
        {% endif %}

        {% if not is_granted('ROLE_REGISTERED') %}
            <fieldset>
                <legend>{{ 'Order Status Check'|trans }}</legend>
                <p>
                    {{ 'You can check the status of your order using the <a href="%guest_history_url%">order status check</a>.'|trans({'%guest_history_url%' : path('guest_history')})|raw }}
                </p>
            </fieldset>
        {% endif %}
    </form>
{% endblock %}
