{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Guest Order Status'))); ?>
{{ form.open('guest_history', '', true, {'id' : 'guest_history'})|raw }}
  <fieldset>
    <legend>{{ 'Find Guest Order'|trans }}</legend>
    <div>
      <label for="email">{{ 'E-Mail Address'|trans }}</label>
      <input type="text" id="email" name="email" value="<?php echo $view->escape($view['request']->getParameter('email')) ?>" />
    </div>
    <div>
      <label for="orderId">{{ 'Order Number'|trans }}</label>
      <input type="text" id="orderId" name="orderId" value="<?php echo $view->escape($view['request']->getParameter('orderId')) ?>" />
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
</form>
{% endblock %}
