{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Redeem Gift Certificate'))); ?>
<h2>{{ 'Redeem A Gift Certificate'|trans }}</h2>
<?php if ($gvRedeem->isRedeemed()) { ?>
  <p>{{ 'Congratulations, you have redeemed a Gift Certificate worth %amount%.'|trans({'%amount%' : utils.formatMoney(gvRedeem.amount)}) }}</p>
<?php } else { ?>
  <?php echo $form->open('gv_redeem', '', true, array('id'=>'gv_redeem')) ?>
    <fieldset>
      <legend>{{ 'Redemption code details'|trans }}</legend>
      <div>
        <label for="gvCode">{{ 'Redemption Code'|trans }}</label>
        <input type="text" id="gvCode" name="couponCode" value="<?php echo $view->escape($gvRedeem->getCouponCode()) ?>" />
      </div>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Redeem'|trans }}" /></div>
  </form>
<?php } ?>
<p>{{ 'For more information regarding Gift Certificates, please see the <a href="%faq_link%">Gift Certificate FAQ</a>.'|trans({'%faq_link% : path('gv_faq')})|raw }}</p>
{% endblock %}
