{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Send Gift Certificate'))); ?>
<p>{{ 'Current available balance: <strong>%amount%</strong>'|trans({'%amount%' : utils.formatMoney(app.user.voucherBalance)}) }}</p>
{{ form.open('gv_send', '', true, {'id' : 'gvreceiverObject'})|raw }}
    <fieldset>
        <legend>{{ 'EMail Gift Certificate'|trans }}</legend>
        <label for="name">{{ 'Receiver Name'|trans }}</label><br />
        <input type="text" id="name" name="name" size="40" value="<?php echo $view->escape($gvReceiver->getName()) ?>" /><br />
        <label for="email">{{ 'Receiver EMail Address'|trans }}<span>*</span></label><br />
        <input type="text" id="email" name="email" size="40" value="<?php echo $view->escape($gvReceiver->getEmail()) ?>" /><br />
        <label for="amount">{{ 'Gift Certificate Amount'|trans }}<span>*</span></label><br />
        <?php /* Do not convert the amout - either it is 0 or entered by the user; in either case it is fine as  is */ ?>
        <input type="text" id="amount" name="amount" value="{{ utils.formatMoney(gvReceiver.amount, false) }}" /><br />
        <label for="message">{{ 'Message Text'|trans }}</label><br />
        <textarea id="message" name="message" cols="50" rows="8"><?php echo $view->escape($gvReceiver->getMessage()) ?></textarea><br />
        <p class="man">{{ '<span>*</span> Mandatory fields'|trans|raw }}</p>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Send Gift Certificate'|trans }}" /></div>
</form>

<p class="rclear">
    <strong>{{ 'The following message is included with all emails sent from this site:'|trans }}</strong><br />
    {{ utils.staticPageContent('email_advisory')|raw }}
</p>
{% endblock %}
