<title>{% block title %}{{ metaTags.title }}{% endblock %}</title>
<meta charset="{{ _charset }}" />
<meta name="generator" content="ZenMagick {{ constant('AppKernel::APP_VERSION') }}" />
<meta name="keywords" content="{{  metaTags.keywords }}" />
<meta name="description" content="{{ metaTags.description }}" />
