<div id="menu">
  <ul>
    <li class="first"><a href="{{ path('index') }}">{{ 'HOME'|trans }}</a></li>
    <?php if (!$app->getUser()) { ?>
        <li><a href="{{ path('login') }}">{{ 'LOGIN'|trans }}</a></li>
    <?php } ?>
    <?php if ($view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <li><a href="{{ path('account') }}">{{ 'ACCOUNT'|trans }}</a></li>
    <?php } ?>
    <?php if ($app->getUser()) { ?>
        <li><a href="{{ path('logoff') }}">{{ 'LOGOFF'|trans }}</a></li>
    <?php } ?>
    <?php if (!$view->container->get('shoppingCart')->isEmpty() && !$isCheckout) { ?>
        <li><a href="{{ path('shopping_cart') }}">{{ 'SHOPPING CART'|trans }}</a></li>
        <li><a href="{{ path('checkout_shipping') }}">{{ 'CHECKOUT'|trans }}</a></li>
    <?php } ?>
    <?php foreach ($view->container->get('ezPageService')->getPagesForHeader(1) as $page) { ?>
        <li><?php echo $html->ezpageLink($page->getId()) ?></li>
    <?php } ?>
  </ul>
</div>
