{% extends '@Storefront/layout.html.twig' %}
{% block crumbtrail macro.buildCrumbTrail(crumbtrail.addCrumb('Password Recovery'|trans))|raw %}
{% block body %}
    <p>
        {{ 'Enter your E-Mail address below and we\'ll send you an e-mail message containing your new password.'|trans }}
    </p>
    {{ form.open('password_forgotten')|raw }}
        <fieldset>
            <legend>{{ 'Request new password'|trans }}</legend>
            <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
            <input type="text" id="email_address" name="email_address" {{ form.fieldLength('customers', 'customers_email_address')|raw }} />
        </fieldset>
        <div class="btn">
            <button type="submit" class="btn submit">
                <span>{{ 'Submit'|trans }}</span>
            </button>
        </div>
    </form>
{% endblock %}
