<?php use ZenMagick\StoreBundle\Services\Products; ?>
{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addProduct($currentProduct->getId())); ?>

<?php $manufacturer = $currentProduct->getManufacturer() ?>
<h2><?php echo $view->escape(null != $manufacturer ? $manufacturer->getName() : '') ?> <?php echo $view->escape($currentProduct->getName()) ?></h2>

<?php echo $form->addProduct($currentProduct->getId()) ?>
  <?php $imageInfo = $currentProduct->getImageInfo() ?>
  <div>
      <?php if ($imageInfo->hasLargeImage()) { ?>
          <a href="<?php echo $imageInfo->getLargeImage() ?>" onclick="productPopup(event, this); return false;"><?php echo $html->image($imageInfo, Products::IMAGE_MEDIUM) ?></a>
      <?php } else { ?>
          <?php echo $html->image($imageInfo, Products::IMAGE_MEDIUM) ?>
      <?php } ?>
      <div id="desc"><?php echo $currentProduct->getDescription() ?></div>
      <?php if (null != $manufacturer) { ?>
        {{ 'Producer'|trans }}: <?php echo $view->escape($manufacturer->getName()); ?><br />
      <?php } ?>
      <p id="price"><?php echo $view->escape($currentProduct->getModel()) ?>: <?php echo $macro->productPrice($currentProduct) ?></p>
  </div>

  <?php $productAttributes = $macro->productAttributes($currentProduct); ?>
  <?php foreach ($productAttributes as $details) { ?>
      <fieldset>
          <legend><?php echo $view->escape($details['name']) ?></legend>
          <?php foreach ($details['html'] as $option) { ?>
            <p><?php echo $option ?></p>
          <?php } ?>
      </fieldset>
  <?php } ?>

  <fieldset>
      <legend>{{ 'Shopping Options'|trans }}</legend>
      <?php $minMsg = ""; if (1 < $currentProduct->getMinOrderQty()) { $minMsg = sprintf(_zm(" (Order minimum: %s)"), $currentProduct->getMinOrderQty()); } ?>
      <label for="cart_quantity">{{ 'Quantity'|trans }}<?php echo $minMsg; ?></label>
      <input type="text" id="cart_quantity" name="cart_quantity" value="1" maxlength="6" size="4" />
      <input type="submit" class="btn" value="{{ 'Add to cart'|trans }}" />
  </fieldset>

  <?php $addImgList = $currentProduct->getAdditionalImages(); ?>
  <?php if (0 < count($addImgList)) { ?>
      <fieldset>
          <legend>{{ 'Additional Images'|trans }}</legend>
          <?php foreach ($addImgList as $addImg) { ?>
              <?php if ($addImg->hasLargeImage()) { ?>
                  <a href="<?php echo $addImg->getLargeImage() ?>" onclick="productPopup(event, this); return false;"><img src="<?php echo $addImg->getDefaultImage() ?>" alt="" title="" /></a>
              <?php } else { ?>
                  <img src="<?php echo $addImg->getDefaultImage() ?>" alt="" title="" />
              <?php } ?>
          <?php } ?>
      </fieldset>
  <?php } ?>
  <?php if ($currentProduct->hasReviews() || $currentProduct->getTypeSetting('reviews')) { ?>
      <fieldset>
          <legend>{{ 'Other Options'|trans }}</legend>
          <?php if ($currentProduct->hasReviews()) { ?>
              <a class="btn" href="{{ path('product_reviews', {'productId' : currentProduct.id}) }}">
                  {{ 'Read Reviews'|trans }}
              </a>
          <?php } ?>
          <?php if ($currentProduct->getTypeSetting('reviews')) { ?>
              <a class="btn" href="{{ path('product_reviews_write', {'productId' : currentProduct.id}) }}we">
                  {{ 'Write a Review'|trans }}
              </a>
          <?php } ?>
      </fieldset>
  <?php } ?>
</form>

<?php $productService = $view->container->get('productService'); ?>
<?php $similarOrderProducts = $currentProduct->getProductAssociations('similarOrder') ?>
<?php if (0 < count($similarOrderProducts)) { ?>
  <h3>{{ 'People that bought <em>"%this_product%"</em> also bought:'|trans({'%this_product%' : currentProduct.name})|raw }}</h3>
  <div id="similar">
    <?php foreach ($similarOrderProducts as $assoc) { $assocProduct = $productService->getProductForId($assoc->getProductId(), $view['request']->getLocaleId()) ; ?>
      <div>
        <p><?php echo $html->productImageLink($assocProduct) ?></p>
        <p><a href="<?php echo $net->product($assocProduct->getId()) ?>"><?php echo $view->escape($assocProduct->getName()) ?></a></p>
        <?php $offers = $assocProduct->getOffers(); ?>
        <p>{{ utils.formatMoney(offers.calculatedPrice) }}</p>
      </div>
    <?php } ?>
  </div>
<?php } ?>
{% endblock %}
