{% extends '@Storefront/layout.html.twig' %}
{% block body %}
    <?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addCrumb(_zm('New Products'))); ?>
    {% if resultList.hasResults  %}
        <div class="rnblk">
            {{ include('@Storefront/resultlist/nav.html.twig') }}
            {{ include('@Storefront/resultlist/options.html.twig') }}
        </div>
        <div class="rlist">
            <table>
                <tbody>
                    {% for product in resultList.results %}
                        {{ include('@Storefront/resultlist/product.html.twig', {'loop' : loop}) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="rnblk">
            {{ include('@Storefront/resultlist/nav.html.twig') }}
        </div>
    {% else %}
        <h2>{{ 'There are no new products in this category'|trans }}</h2>
    {% endif %}
{% endblock %}
