{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
    <?php $view['slots']->set('crumbtrail', $crumbtrail->addCategoryPath()->addManufacturer()->addProduct()->addCrumb(_zm('Reviews'))); ?>
    {% if resultList.hasResults %}
        <div class="rnblk">
            {{ include('@Storefront/resultlist/nav.html.twig') }}
        </div>

        <div class="rlist">
            <table>
                <tbody>
                    {% for review in resultList.results %}
                        {{ include('@Storefront/resultlist/review.html.twig', {'loop' : loop}) }}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="rnblk">
            {{ include('@Storefront/resultlist/nav.html.twig') }}
        </div>
    {% else %}
        <h2>{{ 'There are no reviews available at this time'|trans }}</h2>
        <p>{{ 'New reviews might need approval before they are listed.'|trans }}</p>
    {% endif %}
{% endblock %}
