<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Search'))); ?>
<?php echo $form->open('search', '', false, array('method' => 'get')) ?>
    <fieldset>
    <legend>{{ 'Search again'|trans }}</legend>
        <div>
            <?php $onfocus = "if(this.value=='" . KEYWORD_DEFAULT . "') this.value='';" ?>
            <input type="text" id="keywords" name="keywords" value="<?php echo $view->escape($searchCriteria->getKeywords(KEYWORD_DEFAULT)) ?>" onfocus="<?php echo $onfocus ?>" />
        </div>
        <div class="btn"><input type="submit" class="btn" value="{{ 'Search'|trans }}" /></div>
        <a class="clear" href="{{ path('advanced_search', {'keywords' : searchCriteria.keywords} }}">
            {{ 'Advanced Search'|trans }}
        </a>
    </fieldset>
</form>

<?php if (isset($resultList)) { ?>
    <?php if ($resultList->hasResults()) { ?>
        <div class="rnblk">
            <?php echo $view->render('StorefrontBundle::resultlist/nav.html.php', array('resultList' => $resultList)) ?>
            <?php echo $view->render('StorefrontBundle::resultlist/options.html.php', array('resultList' => $resultList)) ?>
        </div>

        <div class="rlist">
            <table cellspacing="0" cellpadding="0"><tbody>
                <?php $first = true; $odd = true; foreach ($resultList->getResults() as $product) { ?>
                  <?php echo $this->render('StorefrontBundle::resultlist/product.html.php', array('product' => $product, 'first' => $first, 'odd' => $odd)) ?>
                <?php $first = false; $odd = !$odd; } ?>
            </tbody></table>
        </div>
        <div class="rnblk">
            <?php echo $view->render('StorefrontBundle::resultlist/nav.html.php', array('resultList' => $resultList)) ?>
        </div>
    <?php } else { ?>
        <h2>{{ 'No products found'|trans }}</h2>
    <?php } ?>
<?php } ?>
