{% extends '@Storefront/layout.html.twig' %}
{% block crumbtrail macro.buildCrumbTrail(crumbtrail.addCrumb('Shopping Cart'|trans))|raw %}
{% block body %}
    {% if cart.empty %}
        <h2>{{ 'Your Shopping Cart is empty'|trans }}</h2>
    {% else %}
        {{ form.open('cart.update', '', true)|raw }}
            <table>
                <tbody>
                    {% for item in cart.items %}
                        <tr class="{{ loop.index0 is odd ? 'odd' : 'even' }} {{ loop.first ? 'first' : 'other' }}>
                            <td class="remove">
                                <a href="{{ path('cart.remove', {'productId' : item.id}) }}">
                                    <img src="{{ asset('bundles/storefront/images/small_delete.gif') }}" alt="{{ 'Remove'|trans }}" />
                                </a>
                            </td>
                            <td class="img">
                                {{ html.productImageLink(item.product)|raw }}
                                {{ form.hiddenCartFields(item)|raw }}
                            </td>
                            <td class="itm">
                                {% if not item.stockAvailable and settings.get('isEnableStock') %}
                                    <span class="note">{{ '* Out of Stock'|trans }}</span>
                                    <br />
                                {% endif %}
                                {{ item.product.name }}
                                {% if item.hasAttributes %}
                                    <br />
                                    {% for attribute in item.attributes %}
                                        <p>
                                            <span class="attr">{{ attribute.name }}:</span>
                                            {% for attributeValue in attribute.values %}
                                                {% if loop.first %},{% endif %}
                                                <span class="atval">{{ attributeValue.name }}</span>
                                            {% endfor %}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td class="item">
                                {{ utils.formatMoney(item.itemPrice) }}
                            </td>
                            <td class="qty">
                                <input type="text" name="cart_quantity[]" size="4" value="{{ item.quantity }}" />
                            </td>
                            <td class="price">
                                {{ utils.formatMoney(item.itemTotal) }}
                                {% if 0 != item.oneTimeCharge %}
                                    <br />
                                    {{ 'One time: %amount%'|trans({'%amount%' : utils.formatMoney(item.oneTimeCharge)}) }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="other">
                        <td colspan="5" class="total">{{ 'Subtotal'|trans }}</td>
                        <td class="price">{{ utils.formatMoney(shoppingCart.subtotal) }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn">
                <input type="submit" class="btn" value="{{ 'Update Cart'|trans }}"/>
                <a class="btn" href="{{ path('checkout_shipping') }}">{{ 'Checkout'|trans }}</a>
            </div>
            <div>
                <a class="btn" href="{{ path('popup_shipping_estimator') }}" onclick="popupWindow(this.href); return false;">
                    {{ 'Shipping Estimator'|trans }}
                </a>
            </div>

            {{ templateManager.fetchBlockGroup('shoppingCart.options')|raw }}
        </form>
    {% endif %}
    {{ html.backLink('Continue Shopping'|trans)|raw }}
{% endblock %}
