{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Shopping Cart')));
if ($shoppingCart->isEmpty()) { ?>
    <h2>{{ 'Your Shopping Cart is empty'|trans }}</h2>
<?php } else { ?>
    {{ form.open('cart.update', '', true)|raw }}
        <table cellpadding="0" cellspacing="0">
            <tbody>
            <?php $odd = true; $first = true; foreach ($shoppingCart->getItems() as $item) { ?>
                <tr class="<?php echo ($odd?"odd":"even").($first?" first":" other") ?>">
                    <td class="remove">
                        <a href="{{ path('cart.remove', {'productId' : item.id}) }}">
                            <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/small_delete.gif') ?>" alt="remove" />
                        </a>
                    </td>
                    <td class="img">
                        {{ html.productImageLink(item.product)|raw }}
                        <?php echo $form->hiddenCartFields($item) ?>
                    </td>
                    <td class="itm">
                        <?php if (!$item->isStockAvailable() && $view['settings']->get('isEnableStock')) { ?>
                            <span class="note">{{ '* Out of Stock'|trans }}</span><br/>
                        <?php } ?>
                        {{ item.product.name }}
                        <?php if ($item->hasAttributes()) { ?>
                            <br/>
                            <?php foreach ($item->getAttributes() as $attribute) { ?>
                                <p><span class="attr">{{ attribute.name }}:</span>
                                <?php $first = true; foreach ($attribute->getValues() as $attributeValue) { ?>
                                    <?php if (!$first) { ?>, <?php } ?>
                                    <span class="atval">{{ attributeValue.name }}</span>
                                <?php $first = false; } ?>
                                </p>
                            <?php } ?>
                        <?php } ?>
                    </td>
                    <td class="item">
                        {{ utils.formatMoney(item.itemPrice) }}
                    </td>
                    <td class="qty">
                        <input type="text" name="cart_quantity[]" size="4" value="<?php echo $item->getQuantity() ?>" />
                    </td>
                    <td class="price">
                        {{ utils.formatMoney(item.itemTotal) }}
                        <?php if (0 != ($oneTimeCharge = $item->getOneTimeCharge())) { ?>
                            <br>{{ 'One time: %amount%'|trans({'%amount%' : utils.formatMoney(oneTimeCharge)}) }}
                        <?php } ?>
                    </td>
                </tr>
            <?php $odd = !$odd; $first = false; } ?>
            <tr class="other">
                <td colspan="5" class="total">{{ 'Subtotal'|trans }}</td>
                <td class="price">{{ utils.formatMoney(shoppingCart.subtotal) }}</td>
            </tr>
            </tbody>
        </table>
        <div class="btn">
            <input type="submit" class="btn" value="{{ 'Update Cart'|trans }}" />
            <a class="btn" href="{{ path('checkout_shipping') }}">{{ 'Checkout'|trans }}</a>
        </div>
        <div>
            <a class="btn" href="{{ path('popup_shipping_estimator') }}" onclick="popupWindow(this.href); return false;">{{ 'Shipping Estimator'|trans }}</a>
        </div>

        {{ templateManager.fetchBlockGroup('shoppingCart.options')|raw }}
    </form>
<?php } ?>

<?php echo $html->backLink('Continue Shopping') ?>
{% endblock %}
