<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<p>{{ 'We are sorry to hear that you wish to unsubscribe from our newsletter. If you have concerns about your privacy, please see our <a href="%privacy_url%">privacy policy</a>.|trans({'%privacy_url%': net.staticPage('privacy')})|raw }}</p>

<p>{{ 'Subscribers to our newsletter are kept notified of new products, price reductions, and site news.'|trans }}</p>

<?php if ($view['settings']->get('isAllowAnonymousUnsubscribe')) { ?>
    <p>{{ 'If you still do not wish to receive your newsletter, please click the button below. You will be taken to your account-preferences page, where you may edit your subscriptions. You may be prompted to log in first.'|trans }}</p>

    <?php echo $form->open('unsubscribe', "", true, array('id'=>'unsubscribe')) ?>
      <fieldset>
        <legend>{{ 'Newsletter Unsubscribe'|trans }}</legend>
        <div>
          <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
          <input type="text" id="email_address" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
        </div>
      </fieldset>
      <div class="btn"><input type="submit" class="btn" value="{{ 'Unsubscribe'|trans }}" /></div>
    </form>
<?php } else { ?>
      <div class="btn"><a href="<?php echo $view['router']->generate('account_newsletters') ?>" class="btn">{{ 'Unsubscribe'|trans }}</a></div>
<?php } ?>
