{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Edit Account'))); ?>
{{ form.open('account_edit', '', true, {'id' : 'account'})|raw }}
    <fieldset>
        <legend>{{ 'My Account'|trans }}</legend>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                   <th id="label"></th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <?php if ($view['settings']->get('isAccountGender')) { ?>
                    <tr>
                        <td>{{ 'Title'|trans }}<span>*</span></td>
                        <td>
                            <input type="radio" id="male" name="gender" value="m"<?php $form->checked('m', $account->getGender()) ?> />
                            <label for="male">{{ 'Mr.'|trans }}</label>
                            <input type="radio" id="female" name="gender" value="f"<?php $form->checked('f', $account->getGender()) ?> />
                            <label for="female">{{ 'Ms.'|trans }}</label>
                        </td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'First Name'|trans }}<span>*</span></td>
                    <td><input type="text" name="firstName" value="<?php echo $view->escape($account->getFirstName()) ?>" /></td>
                </tr>
                <tr>
                    <td>{{ 'Last Name'|trans }}<span>*</span></td>
                    <td><input type="text" name="lastName" value="<?php echo $view->escape($account->getLastName()) ?>" /></td>
                </tr>
                <tr>
                    <td>{{ 'OpenID'|trans }}</td>
                    <td><input type="text" name="openid" value="<?php echo $view->escape($account->get('openid')) ?>" /></td>
                </tr>
                <?php if ($view['settings']->get('isAccountDOB')) { ?>
                    <tr>
                        <td>{{ 'Date of Birth'|trans }}<span>*</span></td>
                        <td><input type="text" name="dob" value="<?php echo $view['date']->short($account->getDob()) ?>" /> <?php echo sprintf(_zm("Format: %s;&nbsp;(e.g: %s)"), $view['date']->getFormat('date', 'short-ui-format'), $view['date']->getFormat('date', 'short-ui-example')) ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'E-Mail Address'|trans }}<span>*</span></td>
                    <td><input type="text" name="email" value="<?php echo $this->escape($account->getEmail()) ?>" /></td>
                </tr>
                <?php if ($view['settings']->get('isAccountNickname')) { ?>
                    <tr>
                        <td>{{ 'Nickname'|trans }}</td>
                        <td><?php echo $this->escape($account->getNickName()) ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'Telephone Number'|trans }}<span>*</span></td>
                    <td><input type="text" name="phone" value="<?php echo $this->escape($account->getPhone()) ?>" /></td>
                </tr>
                <tr>
                    <td>{{ 'Fax Number'|trans }}</td>
                    <td><input type="text" name="fax" value="<?php echo $this->escape($account->getFax()) ?>" /></td>
                </tr>
                 <tr>
                    <td>{{ 'E-Mail Format'|trans }}<span>*</span></td>
                    <td>
                        <input type="radio" id="html" name="emailFormat" value="HTML"<?php $form->checked('HTML', $account->getEmailFormat(), 'HTML') ?> />
                        <label for="html">{{ 'HTML'|trans }}</label>
                        <input type="radio" id="text" name="emailFormat" value="TEXT"<?php $form->checked('TEXT', $account->getEmailFormat(), 'TEXT', true) ?> />
                        <label for="text">{{ 'Text'|trans }}</label>
                    </td>
                </tr>
                <tr class="legend">
                    <td colspan="2">{{ '<span>*</span> Mandatory fields'|trans|raw }}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Update'|trans }}" /></div>
</form>
{% endblock %}
