<?php $countryId = 0 != $address->getCountryId() ? $address->getCountryId() : settings.get('storeCountry'); ?>
<fieldset>
    <legend>{{ 'Address'|trans }}</legend>
    <table cellspacing="0" cellpadding="0" id="newaddress">
        <thead>
            <tr>
               <th id="label"></th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            <?php if (settings.get('isAccountGender')) { ?>
                <tr>
                    <td>{{ 'Title'|trans }}<span>*</span></td>
                    <td>
                        <input type="radio" id="male" name="gender" value="m" {{ form.checked('m', address.gender)|raw }} />
                        <label for="male">{{ 'Mr.'|trans }}</label>
                        <input type="radio" id="female" name="gender" value="f" {{ form.checked('f', address.gender)|raw }} />
                        <label for="female">{{ 'Ms.'|trans }}</label>
                    </td>
                </tr>
            <?php } ?>
            <tr>
                <td>{{ 'First Name'|trans }}<span>*</span></td>
                <td><input type="text" id="firstName" name="firstName" value="{{ address.firstName }}" /></td>
            </tr>
            <tr>
                <td>{{ 'Last Name'|trans }}<span>*</span></td>
                <td><input type="text" id="lastName" name="lastName" value="{{ address.lastName }}" /></td>
            </tr>
            <?php if (settings.get('isAccountCompany')) { ?>
                <tr>
                    <td>{{ 'Company Name'|trans }}</td>
                    <td><input type="text" id="companyName" name="companyName" value="{{ address.company }}" /></td>
                </tr>
            <?php } ?>
            <tr>
                <td>{{ 'Street Address'|trans }}<span>*</span></td>
                <td><input type="text" id="addressLine1" name="addressLine1" value="{{ address.addressLine1 }}" <?php echo $form->fieldLength('address_book', 'entry_street_address') ?> /></td>
            </tr>
            <tr>
                <td>{{ 'Suburb'|trans }}</td>
                <td><input type="text" id="suburb" name="suburb" value="{{ address.suburb }}" <?php echo $form->fieldLength('address_book', 'entry_suburb') ?> /></td>
            </tr>
            <tr>
                <td>{{ 'City'|trans }}<span>*</span></td>
                <td><input type="text" id="city" name="city" value="{{ address.city }}" <?php echo $form->fieldLength('address_book', 'entry_city') ?> /></td>
            </tr>
            <tr>
                <td>{{ 'Post Code'|trans }}<span>*</span></td>
                <td><input type="text" id="postcode" name="postcode" value="{{ address.postcode }}" <?php echo $form->fieldLength('address_book', 'entry_postcode') ?> /></td>
            </tr>
             <tr>
                <td>{{ 'Country'|trans }}<span>*</span></td>
                <td><?php echo $form->idpSelect('countryId', array_merge(array(new ZMIdNamePair("", _zm("Select Country"))), $view->container->get('countryService')->getCountries()), $countryId) ?></td>
            </tr>
            <?php if (settings.get('isAccountState')) { ?>
                <?php $zones = $view->container->get('countryService')->getZonesForCountryId($countryId); ?>
                <tr>
                    <td>{{ 'State/Province'|trans }}<span>*</span></td>
                    <td>
                        <?php if (0 < count($zones)) { ?>
                            <?php echo $form->idpSelect('zoneId', $zones, $address->getZoneId()) ?>
                        <?php } else { ?>
                            <input type="text" name="state" value="{{ address.state }}" />
                        <?php } ?>
                    </td>
                </tr>
            <?php } ?>
            <?php if (!$address->isPrimary()) { ?>
                 <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="_primary" value="<?php echo $address->isPrimary() ?>" />
                        <input type="checkbox" id="primary" name="primary" value="on" {{ form.checked(address.primary)|raw }} />
                        <label for="primary">{{ 'Use as primary address'|trans }}</label>
                    </td>
                </tr>
            <?php } ?>
            <tr class="legend">
                <td colspan="2">
                    <input type="hidden" name="id" value="{{ address.id }}" />
                    {{ '<span>*</span> Mandatory fields'|trans|raw }}
                </td>
            </tr>
        </tbody>
    </table>
</fieldset>
