<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Order Confirmation'))); ?>
<?php $account = $app->getUser(); ?>
<?php echo $form->open('checkout_success', 'action=update', true, array('onsubmit'=>null)) ?>
    <h2>{{ 'Thanks for shopping with us'|trans }}</h2>
    <p>{{ 'Your order number is: <strong>%id%</strong>'|trans({'%id%' : currentOrder.id})|raw }}</p>
    <?php if ($view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <p>{{ 'You can view your full order history by going to the <a href="%account_url%">My Account</a> page and by clicking on view all orders.'|trans({'%account_url%' : path('account')})|raw }}</p>
    <?php } ?>
    <p>{{ 'Please direct any questions you have to <a href="%contact_url%">Customer Service</a>.'|trans({'%contact_url%': path('contact_us')})|raw }}</p>

    <?php if (!empty($productsToSubscribe)) { ?>
        <fieldset>
            <legend>{{ 'Product Notifications'|trans }}</legend>
            <h4>{{ 'Please notify me of updates to the products I have selected below:'|trans }}</h4>
            <?php foreach ($productsToSubscribe as $productId => $productName) { $id = "not_" . $productId; ?>
                <p>
                    <input type="checkbox" id="<?php echo $id ?>" name="notify[]" value="<?php echo $productId ?>" />
                    <label for="<?php echo $id ?>"><?php echo $view->escape($productName) ?></label><br />
                </p>
            <?php } ?>
            <div class="btn"><input type="submit" class="btn" value="{{ 'Update'|trans }}" /></div>
        </fieldset>
    <?php } ?>

    <?php $voucherBalance = $account->getVoucherBalance(); ?>
    <?php if (0 < $voucherBalance) { ?>
        <fieldset>
            <legend>{{ 'Gift Certificate Account'|trans }}</legend>
            <p>
                {{ 'You have funds (%amount%) in your Gift Certificate Account.'|trans({'%amount%' : utils.formatMoney(voucherBalance)}) }}
                <br />
                {{ 'If you want to, you can send those funds by <a href="%gv_send_url%">email</a> to someone.'|trans({'%gv_send_url%': path('gv_send')})|raw }}
            </p>
            <div class="btn"><a href="{{ path('gv_send') }}" class="btn">{{ 'Send Gift Certificate'|trans }}</a></div>
        </fieldset>
    <?php } ?>

    <?php if (!$view['security']->isGranted('ROLE_REGISTERED')) { ?>
        <fieldset>
            <legend>{{ 'Order Status Check'|trans }}</legend>
            <p>
                {{ 'You can check the status of your order using the <a href="%guest_history_url%">order status check</a>.'|trans({'%guest_history_url%' : path('guest_history')})|raw }}
            </p>
        </fieldset>
    <?php } ?>
</form>

<?php if (1 == count($view->container->get('orderService')->getOrdersForAccountId($currentOrder->getAccountId(), $view['request']->getLocaleId(), 2)) && 'registered' == $account->getType()) { ?>
    <?php echo $form->open('checkout_refer_a_friend', '', true, array('id'=>'checkout_refer_a_friend')) ?>
        Friend1: <input type="text" name="friend1" value=""><br>
        Friend2: <input type="text" name="friend2" value=""><br>
        Friend3: <input type="text" name="friend3" value=""><br>
        <input type="submit" value="refer friends">
    </form>
<?php } ?>
