{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Contact Us'))); ?>

<h3>{{ 'Store Contact Details'|trans }}</h3>
<p><address><?php echo nl2br(settings.get('storeNameAddress')); ?></address></p>
<br/>

    {{ utils.staticPageContent('contact_us')|raw }}

{{ form.open('contact_us', 'action=send', false, {'id' : 'contactUs'})|raw }}
    <fieldset>
        <legend>{{ 'Contact us'|trans }}</legend>
        <label for="name">{{ 'Full Name'|trans }}<span>*</span></label>
        <input type="text" id="name" name="name" size="40" value="{{ contactUs.name }}" /><br />

        <label for="email">{{ 'Email Address'|trans }}<span>*</span></label>
        <input type="text" id="email" name="email" size="40" value="{{ contactUs.email }}" /><br />

        <label for="message">{{ 'Message'|trans }}<span>*</span></label>
        <textarea id="message" name="message" cols="30" rows="7">{{ contactUs.message }}</textarea>
        <p class="legend">{{ '<span>*</span> Mandatory fields'|trans|raw }}</p>

        <?php if (is_object($recaptcha)) { ?>
            <p><?php $recaptcha->showCaptcha(); ?></p>
        <?php } ?>

        <?php if (is_object($recaptcha)) { ?>
            <?php $recaptcha->showCaptcha(); ?>
        <?php } ?>
    </fieldset>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Send'|trans }}" /></div>
</form>
{% endblock %}
