{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Account'), $view['router']->generate('account'))->addCrumb(_zm('Create Account'))); ?>
<script type="text/javascript">
    var all_zones = new Array();
    <?php
        foreach ($view->container->get('countryService')->getCountries() as $country) {
            $zones = $view->container->get('countryService')->getZonesForCountryId($country->getId());
            if (0 < count($zones)) {
                echo 'all_zones['.$country->getId() . '] = new Array();';
                foreach ($zones as $zone) {
                    echo "all_zones[".$country->getId()."][".$zone->getId()."] = '" . $zone->getName() ."';";
                }
            }
        }
    ?>
</script>
<?php /*=== include to allow PHP execution in ZM context ==*/ ?>
<script type="text/javascript"><?php echo $this->render('StorefrontBundle::dynamicState.js.php') ?></script>
{{ form.open('create_account', '', true, {'id' : 'registration'})|raw }}
    <?php if ($view['settings']->get('isPrivacyMessage')) { ?>
        <fieldset>
            <legend>{{ 'About Privacy'|trans }}</legend>
            <p>
                {{ 'Please acknowledge you agree with our privacy statement by ticking the following box.'|trans }}</br>
                <?php $href = $net->staticPage('privacy')' ?>
                {{ 'The privacy statement can be read <a href="%privacy_url%">here</a>'|trans({'%privacy_url%' : href})|raw }}
            </p>
            <p><input type="checkbox" id="privacy" name="privacy" value="1" /><label for="privacy">{{ 'I have read and agreed to your privacy statement.'|trans }}</label></p>
        </fieldset>
    <?php } ?>
    <fieldset>
        <legend>{{ 'Create Account'|trans }}</legend>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                   <th id="label"></th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <?php if ($view['settings']->get('isAccountGender')) { ?>
                    <tr>
                        <td>{{ 'Title'|trans }}<span>*</span></td>
                        <td>
                            <input type="radio" id="male" name="gender" value="m" {{ form.checked('m', registration.gender)|raw }} />
                            <label for="male">{{ 'Mr.'|trans }}</label>
                            <input type="radio" id="female" name="gender" value="f" {{ form.checked('f', registration.gender)|raw }} />
                            <label for="female">{{ 'Ms.'|trans }}</label>
                        </td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'First Name'|trans }}<span>*</span></td>
                    <td><input type="text" name="firstName" value="{{ registration.firstName }}" /></td>
                </tr>
                <tr>
                    <td>{{ 'Last Name'|trans }}<span>*</span></td>
                    <td><input type="text" name="lastName" value="{{ registration.lastName }}" /></td>
                </tr>
                <?php if ($view['settings']->get('isAccountDOB')) { ?>
                    <tr>
                        <td>{{ 'Date of Birth'|trans }}<span>*</span></td>
                        <td><input type="text" name="dob" value="{{ registration.dob }}" /> <?php echo sprintf(_zm("Format: %s;&nbsp;(e.g: %s)"), $view['date']->getFormat('date', 'short-ui-format'), $view['date']->getFormat('date', 'short-ui-example')) ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'E-Mail Address'|trans }}<span>*</span></td>
                    <td><input type="text" name="email" value="{{ registration.email }}" /></td>
                </tr>
                <?php if ($view['settings']->get('isAccountNickname')) { ?>
                    <tr>
                        <td>{{ 'Nickname'|trans }}</td>
                        <td><input type="text" name="nickName" value="{{ registration.nickName }}" /></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td>{{ 'Password'|trans }}<span>*</span></td>
                    <td><input type="password" name="password" value="" /></td>
                </tr>
                <tr>
                    <td>{{ 'Confirm Password'|trans }}<span>*</span></td>
                    <td><input type="password" name="confirmation" value="" /></td>
                </tr>
                <?php if ($view['settings']->get('isAccountCompany')) { ?>
                    <tr>
                        <td>{{ 'Company Name'|trans }}</td>
                        <td><input type="text" name="companyName" value="{{ registration.companyName }}" /></td>
                    </tr>
                <?php } ?>

                <tr>
                    <td>{{ 'Street Address'|trans }}<span>*</span></td>
                    <td><input type="text" name="addressLine1" value="{{ registration.addressLine1 }}" <?php echo $form->fieldLength('address_book', 'entry_street_address') ?> /></td>
                </tr>
                <tr>
                    <td>{{ 'Suburb'|trans }}</td>
                    <td><input type="text" name="suburb" value="{{ registration.suburb }}" <?php echo $form->fieldLength('address_book', 'entry_suburb') ?> /></td>
                </tr>
                <tr>
                    <td>{{ 'City'|trans }}<span>*</span></td>
                    <td><input type="text" name="city" value="{{ registration.city }}" <?php echo $form->fieldLength('address_book', 'entry_city') ?> /></td>
                </tr>
                <?php
                    $countryId = $registration->getCountryId();
                    $countryId = 0 != $countryId ? $countryId : $view['settings']->get('storeCountry');
                ?>
                <tr>
                    <td>{{ 'Post Code'|trans }}<span>*</span></td>
                    <td><input type="text" name="postcode" value="{{ registration.postCode }}" <?php echo $form->fieldLength('address_book', 'entry_postcode') ?> /></td>
                </tr>
                 <tr>
                    <td>{{ 'Country'|trans }}<span>*</span></td>
                    <td><?php echo $form->idpSelect('countryId', $view->container->get('countryService')->getCountries(), $countryId) ?></td>
                </tr>
                <?php if ($view['settings']->get('isAccountState')) { ?>
                    <?php $zones = $view->container->get('countryService')->getZonesForCountryId($countryId); ?>
                    <tr>
                        <td>{{ 'State/Province'|trans }}<span>*</span></td>
                        <td>
                            <?php if (0 < count($zones)) { ?>
                                <?php echo $form->idpSelect('zoneId', $zones, $registration->getZoneId()) ?>
                            <?php } else { ?>
                                <input type="text" name="state" value="{{ registration.state }}" />
                            <?php } ?>
                        </td>
                    </tr>
                <?php } ?>

                <tr>
                    <td>{{ 'Telephone Number'|trans }}<span>*</span></td>
                    <td><input type="text" name="phone" value="{{ registration.phone }}" /></td>
                </tr>
                <tr>
                    <td>{{ 'Fax Number'|trans }}</td>
                    <td><input type="text" name="fax" value="{{ registration.fax }}" /></td>
                </tr>

                 <tr>
                    <td>{{ 'E-Mail Format'|trans }}<span>*</span></td>
                    <td>
                        <input type="radio" id="html" name="emailFormat" value="HTML" {{ form.checked('HTML', registration.emailFormat)|raw }} />
                        <label for="html">{{ 'HTML'|trans }}</label>
                        <input type="radio" id="text" name="emailFormat" value="TEXT" {{ form.checked('TEXT', registration.emailFormat, 'TEXT', true)|raw }} />
                        <label for="text">{{ 'Text'|trans }}</label>
                    </td>
                </tr>
                <?php if ($view['settings']->get('isAccountNewsletter')) { ?>
                    <tr>
                        <td></td>
                        <td><input type="checkbox" id="newsletterSubscriber" name="newsletterSubscriber" value="1" {{ form.checked(registration.newsletterSubscriber)|raw }} /><label for="newsletterSubscriber">{{ 'Receive Store Newsletter'|trans }}</label></td>
                    </tr>
                <?php } ?>

                <?php if ($view['settings']->get('isAccountReferral')) { ?>
                    <tr>
                        <td>{{ 'Referral Code'|trans }}<span>*</span></td>
                        <td><input type="text" name="referral" value="" /></td>
                    </tr>
                <?php } ?>

                <tr class="legend">
                    <td colspan="2">{{ '<span>*</span> Mandatory fields'|trans|raw }}</td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <?php if ($this->exists('howDidYouHearOptions.html.php')) { echo $this->render('StorefrontBundle::howDidYouHearOptions.html.php'); } ?>
    <div class="btn"><input type="submit" class="btn" value="{{ 'Create Account'|trans }}" /></div>
</form>
{% endblock %}
