{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
{{ form.open('foo', '', true, {'id' : 'foo'})|raw }}
  <fieldset>
    <legend>{{ 'Foo'|trans }}</legend>
    <div>
      <label for="foo">{{ 'Foo'|trans }}</label>
      <input type="text" id="foo" name="foo" value="<?php echo $formData->getFoo() ?>" />
    </div>
    <div>
      <label for="bar">{{ 'Bar'|trans }}</label>
      <input type="text" id="bar" name="bar" value="<?php echo $formData->getBar() ?>"  />
    </div>
    <div>
      <label for="doh">{{ 'Bar'|trans }}</label>
      <select id="doh" name="doh[]" size="3" multiple style="width:4em;">
        <option value="do">do</option>
        <option value="re">re</option>
        <option value="mi">mi</option>
        <option value="fa">fa</option>
      </select>
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
</form>
{% endblock %}
