{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php echo get_class($view->container->get('productService')) ?>
    {{ utils.staticPageContent('main_page')|raw }}
<?php $featured = $view->container->get('productService')->getFeaturedProducts(null, 4, false, $view['request']->getLocaleId()); ?>
<h3>Featured Products</h3>
<div id="featured">
  <?php foreach ($featured as $product) { ?>
    <div><table class="tbl" width="100%" height="125">
      <tr><td>{{ html.productImageLink(product)|raw }}</td></tr></table><table>
      <tr height="38" wid><td width="100%" valign="top"><font class="product"><a href="{{ net.product(product.id) }}"><?php echo $html->more($html->strip($product->getName()), 40) ?></a></font></td></tr>
      <?php $offers = $product->getOffers(); ?>
      <tr>
        <td width="50%"><font class="price">{{ utils.formatMoney(offers.calculatedPrice) }}</font></td>
        <td width="50%" align="right"><a href="{{ net.product(product.id) }}">Link</a></td>
      </tr>
    </table></div>
  <?php } ?>
</div>
{% endblock %}
