<?php $view->extend('StorefrontBundle::default_layout.html.php'); ?>
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Login'))); ?>
<?php echo $form->open('login', '', true, array('id'=>'login')) ?>
  <fieldset>
    <legend>{{ 'Login'|trans }}</legend>
    <div>
      <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
      <input type="text" id="email_address" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
    </div>
    <div>
      <label for="password">{{ 'Password'|trans }}</label>
      <input type="password" id="password" name="password" <?php echo $form->fieldLength('customers', 'customers_password') ?> />
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
</form>

<p>
  <a href="{{ path('password_forgotten') }}">{{ 'Lost your password?'|trans }}</a><br />
  <a href="{{ path('create_account') }}">{{ 'Not registered yet?'|trans }}</a>
</p>

<?php if ($view['settings']->get('isGuestCheckout') && !$app->getUser()) { ?>
  <h3>{{ 'Don't need an account?'|trans }}</h3>
  <?php echo $form->open('checkout_guest', '', true, array('id'=>'checkout_guest')) ?>
    <fieldset>
      <legend>{{ 'Checkout without registering'|trans }}</legend>
      <div>
        <label for="email_address_guest">{{ 'E-Mail Address'|trans }}</label>
        <input type="text" id="email_address_guest" name="email_address" <?php echo $form->fieldLength('customers', 'customers_email_address') ?> />
        <input type="submit" class="btn" value="{{ 'Checkout'|trans }}" />
      </div>
    </fieldset>
  </form>
<?php } ?>

<h3>{{ 'Use OpenID'|trans }}</h3>
<?php echo $form->open('openID', '', true, array('id'=>'openid_login')) ?>
  <fieldset>
    <div>
      <label for="openid">{{ 'OpenID'|trans }}</label>
      <input type="hidden" name="action" value="initAuth" />
      <input type="text" id="openid" name="openid" />
      <input type="submit" class="btn" value="{{ 'Login'|trans }}" />
    </div>
  </fieldset>
</form>
