{% extends '@Storefront/default_layout.html.twig' %}
{% block body %}
<?php $view['slots']->set('crumbtrail', $crumbtrail->addCrumb(_zm('Login'))); ?>
{{ form.open('login', '', true, {'id' : 'login'})|raw }}
  <fieldset>
    <legend>{{ 'Login'|trans }}</legend>
    <div>
      <label for="email_address">{{ 'E-Mail Address'|trans }}</label>
      <input type="text" id="email_address" name="email_address" {{ form.fieldLength('customers', 'customers_email_address')|raw }} />
    </div>
    <div>
      <label for="password">{{ 'Password'|trans }}</label>
      <input type="password" id="password" name="password" {{ form.fieldLength('customers', 'customers_password')|raw }} />
    </div>
  </fieldset>
  <div class="btn"><input type="submit" class="btn" value="{{ 'Submit'|trans }}" /></div>
</form>

<p>
  <a href="{{ path('password_forgotten') }}">{{ 'Lost your password?'|trans }}</a><br />
  <a href="{{ path('create_account') }}">{{ 'Not registered yet?'|trans }}</a>
</p>

<?php if (settings.get('isGuestCheckout') && !$app->getUser()) { ?>
  <h3>{{ 'Don\'t need an account?'|trans }}</h3>
  {{ form.open('checkout_guest', '', true, {'id' : 'checkout_guest'})|raw }}
    <fieldset>
      <legend>{{ 'Checkout without registering'|trans }}</legend>
      <div>
        <label for="email_address_guest">{{ 'E-Mail Address'|trans }}</label>
        <input type="text" id="email_address_guest" name="email_address" {{ form.fieldLength('customers', 'customers_email_address')|raw }} />
        <input type="submit" class="btn" value="{{ 'Checkout'|trans }}" />
      </div>
    </fieldset>
  </form>
<?php } ?>

<h3>{{ 'Use OpenID'|trans }}</h3>
{{ form.open('openID', '', true, {'id' : 'openid_login'})|raw }}
  <fieldset>
    <div>
      <label for="openid">{{ 'OpenID'|trans }}</label>
      <input type="hidden" name="action" value="initAuth" />
      <input type="text" id="openid" name="openid" />
      <input type="submit" class="btn" value="{{ 'Login'|trans }}" />
    </div>
  </fieldset>
</form>
{% endblock %}
