<h3>{{ 'RSS Feeds'|trans }}</h3>
<div id="sb_feeds" class="box">
    <a href="<?php echo $view['router']->generate('rss', array('channel' => 'reviews')) ?>">
        <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/feed-icon-12x12.gif')?>" alt="{{ 'RSS'|trans }}" />{{ 'Product Reviews'|trans }}
    </a>
    <a href="<?php echo $view['router']->generate('rss', array('channel' => 'products', 'key' => 'new')) ?>">
        <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/feed-icon-12x12.gif')?>" alt="{{ 'RSS'|trans }}" />{{ 'New Products'|trans }}
    </a>
    <a href="<?php echo $view['router']->generate('rss', array('channel' => 'chapter', 'key' => 10)) ?>">
        <img src="<?php echo $view['assets']->getUrl('bundles/storefront/images/feed-icon-12x12.gif')?>" alt="{{ 'RSS'|trans }}" />{{ 'Chapter 10'|trans }}
    </a>
</div>
