{% set feed_url = 'http://www.radebatz.net/mano/feed/' %}
{% set category = 'ZenMagick' %} {# set to null for all #}

{% set feed = rss_loader.feed(feed_url, category) %}
{% if feed.hasContents %}
    {% set channel = feed.channel %}
    <h3>
        <a href="{{ channel.link }}" class="new-win">
            {{ '[More]'|trans }}
        </a>
        {{ channel.title }}
    </h3>
    <div id="sb_rss" class="box">
        <dl>
            {% for item in feed.items %}
                <dt>{{ item.pubDate|localizeddate('short', 'short') }}</dt>
                <dd>
                    <a href="{{ item.Link }}" class="new-win">
                        {{ item.title }}
                    </a>
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endif %}
