{% set products = product_manager.newProducts(null, 1, null, app.session.get('languages_id')) %}
{% if 1 == products|length %}
    {% set product = products[0] %}
    <h3>
        <a href="{{ path('products_new') }}">{{ '[More]'|trans }}</a>
        {{ 'New Products'|trans }}
    </h3>
    <div id="sb_newproducts" class="box">
        <p>{{ html.productImageLink(product)|raw }}</p>
        <p>
            <a href="{{ net.product(product.id) }}">
                {{ product.name }}
            </a>
        </p>
        {% set offers = product.offers %}
        <p class="price">{{ utils.formatMoney(offers.calculatedPrice) }}</p>
    </div>
{% endif %}
