
<fieldset>
    <legend>{{ 'Subscription'|trans }}</legend>
    <div class="btn"><a class="btn" href="{{ path('checkout_shipping') }}">{{ 'Change'|trans }}</a></div>
    <div>
        <?php $schedule = $subscriptions->getSelectedSchedule(); ?>
        <p>
            {% if schedule %}
                {{ 'This order is a subscription'|trans }}
            {% else %}
                {{ 'This order is *NOT* a subscription'|trans }}
            {% endif %}
        </p>
        <?php if (null != $schedule) { ?>
            <?php $schedules = $subscriptions->getSchedules(); ?>
            <p>{{ 'Order schedule: "%schedule%."'|trans({'%schedule%' : schedules[schedule]['name']}) }}</p>
        <?php } ?>
    </div>
</fieldset>
