<?php use ZenMagick\Base\Toolbox; ?>

<?php if (!Toolbox::isEmpty($order->getSchedule())) { ?>
    {{ '(S)'|trans }}
    <?php if ($order->isSubscription()) { ?>
        <?php if ($subscriptions->isCustomerCancel()) { ?>
            <a href="{{ path('cancel_subscription', {'orderId' : order.id}) }}">
                {{ 'Cancel Subscription'|trans }}
            </a>
        <?php } else { ?>
            <a href="{{ path('subscription_request', {'orderId' : order.id, 'type' : 'cancel'}) }}">
                {{ 'Cancel Subscription'|trans }}
            </a>
        <?php } ?>
    <?php } ?>
    <a href="{{ path('subscription_request', {'orderId' : order.id, 'type' : 'enquire'}) }}">
        {{ 'Ask about Subscriptions'|trans }}
    </a>
<?php } ?>
