<?php $view->extend('AdminBundle::default_layout.html.php'); ?>
<?php $admin->title() ?>

<table class="grid" width="50%">
  <tr>
    <th>{{ 'Source'|trans }}</th>
    <th>{{ 'Count'|trans }}</th>
  </tr>
  <?php foreach ($resultList->getResults() as $line) { ?>
  <tr>
    <?php if (ID_SOURCE_OTHER == $line->getSourceId()) { ?>
      <td><a href="{{ path('howDidYouHearSourcesStats', {'other' : 'true'}) }}"><?php echo $view->escape($line->getName()) ?></a></td>
    <?php } else { ?>
      <td><?php echo $view->escape($line->getName()) ?></td>
    <?php } ?>
    <td><?php echo $line->getCount() ?></td>
  </tr>
  <?php } ?>
</table>
<?php if ($isOther) { ?>
  <p><a href="{{ path('howDidYouHearSourcesStats') }}" class="<?php echo $buttonClasses ?>">{{ 'Back to overview'|trans }}</a></p>
<?php } ?>
<?php echo $view->render('AdminBundle::pagination.html.php', array('resultList' => $resultList)) ?>
