<?php $view->extend('AdminBundle::default_layout.html.php'); ?>
<?php $admin->title() ?>

<table class="grid" width="50%">
  <tr>
    <th>{{ 'Source'|trans }}</th>
    <th>{{ 'Options'|trans }}</th>
  </tr>
  <?php foreach ($resultList->getResults() as $line) { ?>
  <tr>
    <td><?php echo $view->escape($line->getName()) ?></td>
    <td>
      <a href="" class="<?php echo $buttonClasses ?>">{{ 'Edit'|trans }}</a>
      <?php if (ID_SOURCE_OTHER != $line->getSourceId()) { ?>
        <form class="button-form" action="{{ path('howDidYouHearSourcesAdmin') }}" method="POST" onsubmit="return ZenMagick.confirm('{{ 'Are you sure?'|trans }}', this);">
          <input type="hidden" name="action" value="delete">
          <input type="hidden" name="sourceId" value="<?php echo $line->getSourceId() ?>">
          <input type="submit" class="<?php echo $buttonClasses ?>" value="{{ 'Delete'|trans }}">
        </form>
      <?php } ?>
    </td>
  </tr>
  <?php } ?>
  <tr>
    <td colspan="2">
      <form action="{{ path('howDidYouHearSourcesAdmin') }}" method="POST">
        <input type="hidden" name="action" value="create">
        <label for="source">{{ 'New Source'|trans }}</label> <input type="text" id="source" name="source" value="">
        <input type="submit" class="<?php echo $buttonClasses ?>" value="{{ 'Create'|trans }}">
      </form>
    </td>
  </tr>
</table>
<?php echo $view->render('AdminBundle::pagination.html.php', array('resultList' => $resultList)) ?>
