{% extends '@Admin/default_layout.html.twig' %}
{% block body %}
    <h2>{{ 'All Subscriptions'|trans }}</h2>

    {% if 1 < resultList.numberOfPages %}
        <div class="rnav">
            <span class="pno">
                {{ 'Page %current%/%total%'|trans({'%current%' :resultList.pageNumber, '%total%' : resultList.numberOfPages}) }}
            </span>
            {% if resultList.hasPreviousPage %}
                <a href="{{ net.resultListBack(resultList) }}">
                    {{ 'Previous'|trans }}
                </a>
                &nbsp;
            {% else %}
                <span class="nin">{{ 'Previous'|trans }}</span>
                &nbsp;
            {% endif %}
            {% if resultList.hasNextPage %}
                <a href="{{ net.resultListNext(resultList) }}">
                    {{ 'Next'|trans }}
                </a>
            {% else %}
                <span class="nin">{{ 'Next'|trans }}</span>
            {% endif %}
        </div>
    {% endif %}

    {% set schedules = plugin.schedules %}

    <div class="rlist">
        <table border="1">
            <thead>
                <tr>
                    <th>{{ 'Order'|trans }}</th>
                    <th>{{ 'Frequency'|trans }}</th>
                    <th>{{ 'Next Order'|trans }}</th>
                    <th>{{ 'Earliest Cancel Date'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for order in resultList.results %}
                    <tr class="{{ loop.odd ? 'odd' : 'even' ~ loop.first ? ' first' : ' other' }}">
                        <td>
                            <a href="{{ path('zc_admin_orders', {'action' : 'edit', 'oID' : order.id}) }}">
                                {{ 'Order #%id%'|trans({'%id%' : order.id }) }}
                            </a>
                        </td>
                        <td>{{ schedules[order.schedule]['name'] }}</td>
                        <td>{{ order.nextOrder|localizeddate('short', 'none') }}</td>
                        <td>{{ plugin.minLastOrderDate(order.id)|localizeddate('short', 'none') }}</td>
                        <td style="text-align:center;">
                            <img src="images/icons/{{ order.subscriptionCanceled ? 'cross.gif' : 'tick.gif' }}" alt="tick">
                        </td>
                        <td>
                            {% if not order.subscriptionCanceled %}
                                <form action="{{ path('cancel_subscription') }}" method="POST">
                                    <input type="hidden" name="fkt" value="subscription_admin">
                                    <input type="hidden" name="orderId" value="{{ order.id }}">
                                    <input type="submit" name="cancel" value="{{ 'Cancel'|trans }}">
                                    <input type="checkbox" id="hard_{{ order.id }}" name="hard" value="1">
                                    <label for="hard_{{ order.id }}">{{ 'Hard Cancel'|trans }}</label>
                                </form>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
