<?php $view->extend('AdminBundle::default_layout.html.php'); ?>
<?php $admin->title() ?>
<h2>{{ 'All Subscriptions'|trans }}</h2>

<?php $resultList->setPagination(10); ?>
<?php if (1 < $resultList->getNumberOfPages()) { ?>
    <div class="rnav">
        <span class="pno">{{ 'Page %current%/%total%'|trans('%current% :resultList.pageNumber, '%total%' : resultList.numberOfPages}) }}</span>
        <?php if ($resultList->hasPreviousPage()) { ?>
            <a href="<?php echo $net->resultListBack($resultList) ?>">{{ 'Previous'|trans }}</a>&nbsp;
        <?php } else { ?>
            <span class="nin">{{ 'Previous'|trans }}</span>&nbsp;
        <?php } ?>
        <?php if ($resultList->hasNextPage()) { ?>
            <a href="<?php echo $net->resultListNext($resultList) ?>">{{ 'Next'|trans }}</a>
        <?php } else { ?>
            <span class="nin">{{ 'Next'|trans }}</span>
        <?php } ?>
    </div>
<?php } ?>

<?php $schedules = $plugin->getSchedules(); ?>

<div class="rlist">
    <table cellspacing="0" cellpadding="0" border="1"><thead>
        <tr>
            <th>Order</th>
            <th>Frequency</th>
            <th>Next Order</th>
            <th>Earliest Cancel Date</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead><tbody>
        <?php $first = true; $odd = true; foreach ($resultList->getResults() as $order) { ?>
            <tr class="<?php echo ($odd?"odd":"even").($first?" first":" other") ?>">
                <td>
                    <a href="{{ path('zc_admin_orders', {'action' : 'edit', 'oID' : order.id}) }}">
                        {{ 'Order #%id%'|trans({'%id%' : order.id }) }}
                    </a>
                </td>
                <td><?php echo $schedules[$order->getSchedule()]['name'] ?></td>
                <td><?php echo $view['date']->short($order->getNextOrder()) ?></td>
                <td><?php echo $view['date']->short($plugin->getMinLastOrderDate($order->getId())) ?></td>
                <td style="text-align:center;"><img src="images/icons/<?php echo ($order->isSubscriptionCanceled() ? 'cross.gif' : 'tick.gif') ?>" alt="tick"></td>
                <td>
                    <?php if (!$order->isSubscriptionCanceled()) { ?>
                        <form action="{{ path('cancel_subscription') }}" method="POST">
                            <input type="hidden" name="fkt" value="subscription_admin">
                            <input type="hidden" name="orderId" value="<?php echo $order->getId() ?>">
                            <input type="submit" name="cancel" value="cancel">
                            <input type="checkbox" id="hard_<?php echo $order->getId() ?>" name="hard" value="1"><label for="hard_<?php echo $order->getId() ?>">Hard cancel</label>
                        </form>
                    <?php } else { ?>
                        &nbsp;
                    <?php } ?>
                </td>
            </tr>
        <?php $first = false; $odd = !$odd; } ?>
    </tbody></table>
</div>
