{% extends '@Admin/layout.html.twig' %}
{% block body %}
    <div id="b_about">
        <div class="about" id="about">
            <h2>{{ 'About ZenMagick'|trans }}</h2>
            <p><span class="label">{{ 'Version:'|trans }}</span> {{ constant('\\AppKernel::APP_VERSION') }}</p>
            <p><span class="label">{{ 'Homepage:'|trans }}</span> <a href="http://www.zenmagick.org">www.zenmagick.org</a></p>
            <p><span class="label">{{ 'Author:'|trans }} </span> Martin Rademacher</p>
        </div>
        <div class="about">
            <h1>{{ 'PHP Information'|trans }}</h1>
            {{ phpinfo|raw }}
        </div>
    </div>
{% endblock %}