{% extends '@Admin/default_layout.html.twig' %}
{% set page_title = 'Reset Password'|trans %}
{% block body %}
    {{ form.open('admin_reset_password', '', true, {'id' : 'reset_password'})|raw }}
        <p>{{ 'Please enter your admin email address and a new password will be emailed to you'|trans }}</p>
        <p>
            <label for="email">{{ 'Email'|trans }}</label>
            <br>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <input class="{{ buttonClasses }}" type="submit" value="{{ 'Reset'|trans }}">
            <a class="{{ buttonClasses }}" href="{{ path('admin_login') }}">
                {{ 'Back to Login'|trans }}
            </a>
        </p>
    </form>
{% endblock %}
