{% extends '@Admin/default_layout.html.twig' %}
{% block body %}
    <form action="{{ path('l10n') }}" method="POST">
        <h2>ZenMagick Language Tool (
            <select id="languageId" name="languageId">
                {% for lang in languages.getLanguages %}
                    <option value="{{ lang.id }}" {{ (currentLanguage.id ==  lang.id) ? ' selected' }}>
                        {{ lang.name }}
                    </option>
                {% endfor %}
            </select>
            )
        </h2>

        <p>This tool helps you find language strings in your themes and everywhere else in the app. Just select a theme
            and you will
            get a full list of all strings and where they are used.</p>

        <p>The selected mapping can also be downloaded in a format that you can cut'n paste right into your <code>l10n.yaml</code>
            file.</p>

        <p>Inherited mappings are mappings defined in <code>l10n.yaml</code> files in themes further up the theme chain.
        </p>

        <p><strong>NOTE:</strong> '%s' and other strings starting with '%' are used as placeholders for things like
            order numbers, etc.</p>

        <fieldset>
            <legend>Select theme and other options to display the language mappings</legend>
            <select id="themeId" name="themeId">
                <option value="">Select Theme</option>
                {% for theme in themes %}
                    <option value="{{ theme.id }}" {{ (themeId == theme.id) ? ' selected' }}>
                        {{ theme.name }}
                    </option>
                {% endfor %}
            </select>
            <br>
            <select id="source" name="source">
                <option value="">-- Preset --</option>
                    {% for value, text in sources %}
                        <option value="{{ value }}" {{ (source == value) ? ' selected' }}>
                             {{ text }}
                        </option>
                    {% endfor %}
            </select>
            <br>

            <p>Chose individual settings</p>
            <input type="checkbox" id="includeDefaults" name="includeDefaults" value="true" {{ includeDefaults ? 'checked' }}>
            <label for="includeDefaults">Add default theme</label>
            <br>
            <input type="checkbox" id="mergeExisting" name="mergeExisting" value="true" {{ mergeExisting ? 'checked' }}>
            <label for="mergeExisting">Add/merge with existing mappings</label>
            <br>
            <input type="checkbox" id="scanShared" name="scanShared" value="true" {{ scanShared ? 'checked' }}>
            <label for="scanShared">Add shared code strings</label>
            <br>
            <input type="checkbox" id="scanPlugins" name="scanPlugins" value="true" {{ scanPlugins ? 'checked' }}>
            <label for="scanPlugins">Add plugin(s) code strings</label>
            <br>
            <input type="checkbox" id="scanAdmin" name="scanAdmin" value="true" {{ scanAdmin ? 'checked' }}>
            <label for="scanAdmin">Add admin code strings</label>
            <br>
            <input type="submit" class="{{ buttonClasses }}" value="Display Mapping">
        </fieldset>
    </form>
    {% if translations is defined %}
        <strong>Download: </strong>
        <a href="{{ path('l10n', downloadParamsPo) }}">.po</a>
        <a href="{{ path('l10n', downloadParamsPot) }}">.pot</a>
        {% for file, strings in translations %}
            <h3>{{ file }}</h3>
            {% for key, info in strings %}
                &nbsp;&nbsp;'{{ key }}' =&gt; '{{ info['msg'] }}';
                <br>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock %}
