{% extends '@Storefront/popup_layout.html.twig' %}
{% block body %}
    <h1>{{ 'What is CVV?'|trans }}</h1>

    <div>
        {{ utils.staticPageContent('popup_cvv_visa_master')|raw }}
      <img src="{{ asset('bundles/storefront/images/icons/cvv2visa.gif') }}" alt="{{ 'cvv sample 1'|trans }}" />
    </div>

    <div>
        {{ utils.staticPageContent('popup_cvv_amex')|raw }}
      <img src="{{ asset('bundles/storefront/images/icons/cvv2amex.gif') }}" alt="{{ 'cvv sample 2'|trans }}" />
    </div>

    <div id="close">
        <a href="#" onclick="javascript:window.close()">
            {{ 'Close Window [x]'|trans }}
        </a>
    </div>
{% endblock %}
